.check-item {
  font-size: 20px;
  color: var(--text-color-default);
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 1;
  &-body {
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    // background-color: var(--text-color-light);
    // background-color: var(--base-color3);
    background-color: #fff;
    height: 100%;
    // display: flex;
    transition: .1s;
    padding: 1.8125em 1.625em;
  }
  &-icon{
    font-size: 2.6em;
    flex-shrink: 0;
    margin-bottom: 0.3461em;
    .icon {display: block;}
  }
  &-text {
    font-size: inherit;
    color: inherit;
    padding-left: 1.125em;
    flex-grow: 1;

  }
  &-title {
    font-size: inherit;
    font-weight: 500;
    color: inherit;
    margin-bottom: 0.5em;
  }
  &-descr {
    font-size: inherit;
    line-height: 1.3;
    color: var(--text-color-default);
    margin-bottom: .9375em;
    opacity: .4;
  }
  &-offer {
    font-size: inherit;
    margin-bottom: .9375em;
  }

}
input:checked {
  & + .check-item-body {
    border-color: var(--base-color1);
    // outline: 3px solid var(--base-color1);
    box-shadow: inset 0 0 0px 3px var(--base-color1);
  }
}