.check-item {
  font-size: 16px;
  color: var(--text-color-default);
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 1;
  &-body {
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    background-color: var(--text-color-light);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-content{
    display: flex;
    align-items: center;
    font-size: inherit;
    color: inherit;
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    // border-bottom-width: 1px;
    // background-color: transparent;
    background-color: #fff;
    transition: .3s;
    padding: 1.8125em 1.625em;
    margin: -1px -1px;
    flex-grow: 1;
  }
  &-footer{
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: .5em 1em;
  }
  &-icon{
    font-size: 3.75em;
    flex-shrink: 0;
  }
  &-text {
    font-size: inherit;
    color: inherit;
    padding-left: 1.125em;
    flex-grow: 1;

  }
  &-title {
    font-size: 1.25em;
    font-weight: 500;
    color: inherit;
    margin-bottom: 0.4em;
  }
  &-descr {
    font-size: inherit;
    color: var(--text-color-light);
  }

}
input:checked {
  & + .check-item-body {
    background-color: var(--base-color3);
    border-color: var(--base-color3);
    color: #fff;
    .check-item-content {
      background-color: var(--base-color1);
      border-color: var(--base-color1);
      color: #fff;
    }
    .check-item-descr {color: inherit;}
  }
}