.quick-view{
  &-body{
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    // background-color: red;
    max-width: calc(100vw - 2 * var(--p));
    max-height: calc(100vh - 2 * var(--p));
    width: 1000px;
    height: 800px;
    padding: 40px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

  }
  &-content{
    display: flex;
  }
  &-col {
    &.slider {
      display: flex;
      align-items: flex-start;
      max-width: 566px;
      flex-grow: 1;
      .product-slider-block {
        &:not(.thumbs){
          max-width: 420px;
          padding-right: 0;
        }
        &.thumbs {
          width: 25.79%;
          padding-right: 2.8%;
        }
      }
      .thumbs-layout {
        padding-bottom: 352%;
        .slick-list {max-height: 100%;}
      }

    }
    &.info {
      padding-top: 27px;
      padding-left: 20px;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.7em;
  }
  &-info {
    font-size: 18px;
    margin-bottom: 1.88em;
    &-item {
      display: flex;
      align-items: baseline;
      font-size: inherit;  
      margin-bottom: 0.66em;
      &.art {
        .label { color: var(--text-color-light2); }
      }
      .label {
        font-weight: 500;
        margin-right: 0.66em;
      }
      .text {}
    }
    
  }
  &-price-block{
    font-size: 34px;
    margin-bottom: 1.3em;
    >span {display: inline-block;}
    .actual {
      font-weight: 900;
      font-size: inherit;
      line-height: 1;

    }
    .old {
      font-weight: 500;
      font-size: .47em;
      line-height: 1;
      color: var(--old-price-color);
      text-decoration-line: line-through;
      margin-left: 0.625em;
    }
  }
  .btn {margin-bottom: 20px;}
  .product-additional {
    margin-bottom: 9px;
    align-items: flex-end;
  }
  .stars {font-size: 25px;}
}