.quick-view{
  &_modal {
    &-content{
      // width: 100%;
      // height: 100%;
      max-width: 95%;
      max-height: 95%;
      overflow: hidden;
    }
  }
  &-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;
    font-size: 2rem;
    cursor: pointer;
  }
  &-body{
    position: relative;
  }
  &-content{
    display: flex;
    align-items: flex-start;
  }
  &_row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  &-col {
      // border: 1px solid purple;
      position: relative;
      // flex-grow: 1;
      flex-shrink: 0;

    &.slider {
      display: flex;
      align-items: flex-start;
      // align-items: stretch;
      // max-width: 63%;
      // flex-grow: 1;
      // flex-shrink: 0;
      padding-right: 1.75rem;
      // @include media-max-width2($lg) {max-width: 460px;}
    }
    
    &.info {
      padding-left: 1.75rem;
      flex-grow: 1;
      // max-width: 300px;
      
    }
    .thumbs-layout {
      height: 100%;
      padding: 0;
    }
    .thumbs-arrow {
      .slick-next {
        top: 100%;
      }
    }
  }

  &-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.7em;
    @include media-max-width2($lg) {font-size: 26px;}
  }
  &-info {
    font-size: 18px;
    margin-bottom: 1.88em;
      @include media-max-width2($lg) {font-size: 12px;}
    &-item {
      display: flex;
      align-items: baseline;
      font-size: inherit;  
      margin-bottom: 0.66em;
      &.art {
        .label { color: var(--text-color-light2); }
      }
      .label {
        font-weight: 500;
        margin-right: 0.66em;
      }
      .text {}
    }
    
  }
  &_brand {
    &-block{
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }
    &-logo{
      margin-right: .5rem;
      img {
        height: 3rem;
        width: auto;
      }
    }
    &-text{}
  }
  &_props-block{

  }
  &-price-block{
    font-size: 34px;
    margin-bottom: 1.3em;
      @include media-max-width2($lg) {font-size: 26px;}
    >span {display: inline-block;}
    .actual {
      font-weight: 900;
      font-size: inherit;
      line-height: 1;
      margin-right: 0.3em;  
    }
    .old {
      font-weight: 500;
      font-size: .47em;
      line-height: 1;
      color: var(--old-price-color);
      text-decoration-line: line-through;
      // margin-left: 0.625em;
    }
  }
  &_link {
    color: var(--base-color1);
  }
  &_btn {
    max-width: 346px;
    margin-bottom: 2rem;
    
  }
}