.quick-view{
  &_modal {
    &-content{
      width: 100%;
      height: 100%;
      max-width: 95%;
      max-height: 95%;
    }
  }
  &-close{
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;
    font-size: 2rem;
    cursor: pointer;
  }
  &-body{
  }
  &-content{
    display: flex;
  }
  &-col {
    &.slider {
      border: 1px solid purple;
      display: flex;
      align-items: flex-start;
      max-width: 63%;
      flex-grow: 1;
      flex-shrink: 0;
      padding-right: 1.75rem;
      @include media-max-width2($lg) {max-width: 460px;}
      .product-slider-block {
        &:not(.thumbs){
          max-width: 420px;
          padding-right: 0;
          flex-grow: 1;
            @include media-max-width2($lg) {max-width: 340px;}
        }
        &.thumbs {
          width: 25.79%;
          padding-right: 2.8%;
        }
      }
      .thumbs-layout {
        // border: 1px solid red;
        padding-bottom: 324%;
        // .slick-list {max-height: 100%;}
      }

    }
    &.info {
      border: 1px solid purple;
      padding-left: 1.75rem;
      // max-width: 300px;
      
    }
  }

  &-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.7em;
    @include media-max-width2($lg) {font-size: 26px;}
  }
  &-info {
    font-size: 18px;
    margin-bottom: 1.88em;
      @include media-max-width2($lg) {font-size: 12px;}
    &-item {
      display: flex;
      align-items: baseline;
      font-size: inherit;  
      margin-bottom: 0.66em;
      &.art {
        .label { color: var(--text-color-light2); }
      }
      .label {
        font-weight: 500;
        margin-right: 0.66em;
      }
      .text {}
    }
    
  }
  &_brand {
    &-block{
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }
    &-logo{
      margin-right: .5rem;
      img {
        height: 3rem;
        width: auto;
      }
    }
    &-text{}
  }
  &-price-block{
    font-size: 34px;
    margin-bottom: 1.3em;
      @include media-max-width2($lg) {font-size: 26px;}
    >span {display: inline-block;}
    .actual {
      font-weight: 900;
      font-size: inherit;
      line-height: 1;
      margin-right: 0.3em;  
    }
    .old {
      font-weight: 500;
      font-size: .47em;
      line-height: 1;
      color: var(--old-price-color);
      text-decoration-line: line-through;
      // margin-left: 0.625em;
    }
  }
  .btn {
    &:not(:last-child) {margin-bottom: 20px;}
  }
  .product-additional {
    margin-bottom: 9px;
    align-items: flex-end;
  }
  .stars {
    font-size: 25px;
     @include media-max-width2($lg) {font-size: 18px;}
  }
  .product-order-block {margin-bottom: 0;}
  .product-delivery-info {margin-right: 0;}
}