.btn {
  --btn-text-color: #fff;
  --btn-bgr-color: var(--base-color1); 
  --btn-bgr-color-hover: var(--base-color1-hover); 
  --btn-border-color: var(--base-color1); 
  --btn-border-color-hover: var(--base-color1-hover); 
  // color: #fff;
  color: var(--btn-text-color);
  background-color: var(--btn-bgr-color);
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 5px 10px;
  padding: .9em 1em;
  line-height: 1;
  transition: .3s;
  font-weight: bold;
  cursor: pointer;
  min-height: 40px;
  border-radius: 5px;
  border: 2px solid var(--btn-border-color);

  &:hover {
    text-decoration: none;
    background-color: var(--btn-bgr-color-hover);
    border-color: var(--btn-border-color-hover);
    // background-color: transparent;
    // color: var(--base-color1);
    // color: var(--btn-bgr-color);

  }

  &.btn-2 {
    --btn-text-color: #fff;
    --btn-bgr-color: var(--base-color2); 
    --btn-border-color: var(--base-color2); 
  }
  &.btn-3 {
    --btn-text-color: #fff;
    --btn-bgr-color: var(--base-color4); 
    --btn-border-color: var(--base-color4); 

  }
  &.btn-4 {
    --btn-text-color: var(--text-color-default);
    --btn-bgr-color: transparent; 
    --btn-border-color: var(--base-color4); 
    &:hover {
      --btn-text-color: #fff;

    }
  }
  &-icon {
    cursor: pointer;
  }
  &-mobile-filter{
    border-width: 1px;
    height: 24px;
    min-height: unset;
    font-weight: normal;
    font-size: 10px;
    line-height: 1;
  }
  &-base2-transparent {
    background-color: transparent;
    border-color: var(--base-color2);
    color: var(--text-color-default);
    &:hover {
      text-decoration: none;
      //background-color: var(--btn-hover-color);
      background-color: var(--base-color2);
      // color: var(--text-color-default);
      color: #fff;

    }

  }
}
