.btn {
  color: #fff;
  background-color: var(--base-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: .3s;
  font-weight: bold;
  cursor: pointer;
  min-height: 45px;
  border-radius: 5px;
  border: 2px solid var(--base-color1);

  &:hover {
    text-decoration: none;
    //background-color: var(--btn-hover-color);
    background-color: transparent;
    color: var(--base-color1);

  }
  &-icon {
    cursor: pointer;
  }
}
