.filter {
  display: none;

  @include media-max-width2($md - 1) {
    //border: 1px solid red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 1100;
    height: 70vh;
    width: 100%;
    max-width: #{$sm}px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    padding: 16px 12px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  &-close {
    display: none;
    &.open{
      display: block;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    span {
      text-transform: uppercase;
    }
    .btn-icon {
      font-size: .5em!important;
      .icon-close { font-size: inherit;}
    }
  }
  &-btn-block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    @include media-min-width2($md) {display: none}
  }

}
