
.scrollbar-size-2{
  --scrollbar-width: 2px;
  --scrollbar-height: 2px;
}
.scrollbar-size-3{
  --scrollbar-width: 3px;
  --scrollbar-height: 3px;
}
.scrollbar-size-4{
  --scrollbar-width: 4px;
  --scrollbar-height: 4px;
}
.scrollbar-size-5{
  --scrollbar-width: 5px;
  --scrollbar-height: 5px;
}
.scrollbar-size-6{
  --scrollbar-width: 6px;
  --scrollbar-height: 6px;
}

*{
  //border: 1px solid red;
}
html {
  line-height: $mainLineHeight;
  // font-size: $mainFontSize;

// 1920 - 20
// 992 - lg - 13.56
// 768 - md - 12
// 576 - sm - 15,44
// 320 - xs - 12

  // font-size: calcFluidFontSize(13.56, 20, $lg, $xl);
  font-size: calcFluidFontSize(16, 20, $md, $xl);

  //color: $mainFontColor;
  color: var(--text-color-default);
  height: 100%;
    // @include media-max-width2($lg - 1) {
    //   // font-size: calcFluidFontSize(12, 13.56, $md, $lg - 1);
    //   font-size: calcFluidFontSize(12, 13.56, $md, $lg - 1);
    // }
    @include media-max-width2($md - 1) {
      // font-size: calcFluidFontSize(15.44, 12, $sm, $md - 1);
      font-size: 16px;
    }
    // @include media-max-width2($sm - 1) {
    //   // font-size: calcFluidFontSize(12, 15.44, $xs, $sm);
    //   font-size: calcFluidFontSize(15, 16, $xs, $sm);
    // }

  // @include media-max-width2($xl) {
  //   font-size: 16px;
  // }
  // @include media-max-width2($lg) {
  //   font-size: 15px;
  // }
  // @include media-max-width2($xsm) {
  //   font-size: 14px;
  // }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  // font-size: $mainFontSize;
  font-size: inherit;
  // font-size: calcFluidFontSize(15, 20, $xlg, $xl, $units: px);
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
    // @include media-max-width2($xlg) {
    //   font-size: calcFluidFontSize(12, 15, $md, $xlg, $units: px);
    // }

  //background-color: var(--page-bgr-secondary);

  //scrollbar-color: var(--page-bgr-secondary) red;
  //scrollbar-width: calc(var(--border-radius) / 2);


  //&::-webkit-scrollbar {
  //  width: calc(var(--border-radius) / 2);               /* ширина scrollbar */
  //}
  //&::-webkit-scrollbar-track {
  //  background: var(--page-bgr-secondary);        /* цвет дорожки */
  //}
  //&::-webkit-scrollbar-thumb {
  //  background-color: var(--base-color2);    /* цвет плашки */
  //  //border-radius: calc(var(--border-radius) / 2);       /* закругления плашки */
  //  //border: 3px solid var(--base-color1);  /* padding вокруг плашки */
  //}


}
input, textarea {
  font-family: $mainFont;
  font-size: $mainFontSize;
}
.page-scroll-down {
  .site-boby { 
    @include media-max-width2($md) {padding-top: 0;}
  }

}
.site-boby {

  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  //max-width: #{$desktopWidth};
  max-width: #{$xl} + 'px';
  
  position: relative;
  padding-top: 200px;
  transition: padding .3s;

  @include media-max-width2($xlg) {padding-top: 250px;}
  @include media-max-width2($lg) {padding-top: 200px;}
  @include media-max-width2($md) {padding-top: 123px;}
  @include media-max-width2($sm) {padding-top: 130px;}

}
main {
  // margin-top: 100px;
  //min-width: 100px;
  //@include media-max-width2($sm) {  margin-top: 95px; }
  &.main-page { margin-top: 0;}
}
.container {
  max-width: #{$xlDesktopWidth};
  // max-width: #{$xl};
  width: 100%;
  //margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--p);
  // padding: 0 calcFluidFontSize(96, 115, $xlg, $xl);
  // padding: 0 var(--container-padding-side);


  // @include media-max-width2($xlg) { max-width: #{$xlgDesktopWidth};}
  // @include media-max-width2($lg) { max-width: #{$lgDesktopWidth};}
  // // @include media-max-width2($md) { max-width: #{$mdDesktopWidth};}
  // @include media-max-width2($md - 1) { max-width: #{$smDesktopWidth};}



}
.in-page.preloader {  margin: 100px auto; }
.content-section {
  /*border: 1px solid red;*/
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  @include media-max-width2($md - 1) {display: block}
}
.main-content {
  //max-width: 1170px;
  flex-grow: 1;
  //margin-left: auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.hide-desktop {
  @include media-min-width2($md + 1) {display: none!important;}
}
.hide-tablet {
  @include media-between($sm + 1, $md) {display: none!important;}
}

.hide-mobile {
  @include media-max-width2($sm) {display: none!important;}
}

.mt-0 {margin-top: 0!important;}
.mb-0 {margin-bottom: 0!important;}
.mb-2em {margin-bottom: 2em!important;}
.mb-1_5rem {margin-bottom: 1.5em!important;}

.base-color-1 {color: var(--base-color1)!important;}
.base-color-2 {color: var(--base-color2)!important;}
.base-color-3 {color: var(--base-color3)!important;}
.base-color-4 {color: var(--base-color4)!important;}
.base-color-5 {color: var(--base-color5)!important;}
.base-color-6 {color: var(--base-color6)!important;}
.link {
  // color: var(--base-color1);
  cursor: pointer;
  display: inline-block;
  padding-bottom: .1em;
  border-bottom: 1px dashed currentColor;
}
.inline {display: inline;}
p {color: var(--text-color-default)}
.page-title {
  font-weight: 500;
  // font-size: 26px;
  line-height: 1;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 1.5rem;
  // @include adaptiv-font(30, 18);  

    // @include media-max-width2($lg) { font-size: 22px;}
    // @include media-max-width2($md) { font-size: 18px;}
    // @include media-max-width2($sm) { font-size: 14px;}

}
.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    //object-fit: cover;
    object-fit: contain;
    object-position: center;
    vertical-align: initial;
  }

}
.price-sale {
  color: var(--price-sale)!important;
}

.sidebar{
  &-left {
    //border: 1px solid green;
    flex-shrink: 0;
    flex-basis: 25%;
    min-width: 200px;
    /*width: 380px;*/
    margin-left: calc(-1*var(--p));
    padding-left: var(--p);
    @include media-max-width2($lg) {--p: 14px}
    @include media-max-width2(767) {
      flex-basis: auto;
      padding-left: 0;
      //margin-left: 0;
      width: calc(100vw - ((100vw - 100%)/2 ));
      //overflow-y: auto;
      height: 30px;
      overflow: hidden;
      margin-right: calc(-1*((100vw - 100%)/2 ));
      margin-bottom: 14px;
    }

  }

  &-scroll {
    @include media-max-width2(767) {
      width: 100%;
      overflow-y: auto;
    }
  }
}

.check {
  display: block;
  //background: #fff;
  color: inherit;
  //border: 1px solid currentColor;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.3333em;

  width: 1em;
  height: 1em;
  flex-shrink: 0;
  margin-right: .5em;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    //height: 0.0625em;
    height: 0.125em;
    background-color: var(--base-color2);
    opacity: 0;
  }
  &:before {
    top: 50%;
    width: .54em;
    transform: rotate(45deg);
  }
  &:after {
    top: 30%;
    left: 32%;
    width: .9em;
    transform: rotate(-45deg);

  }

}
.border {
  border: 1px solid currentColor;
}

.selected {
  .check {
    opacity: 1;
    &:before, &:after {opacity: 1;}
  }
}


.bgr-secondary { background-color: var(--page-bgr-secondary);}
.bgr-tmp { background-color: var(--page-bgr-tmp);}
.db {display: block!important;}
.fg {flex-grow: 1!important;}



.bgr-close {
  background-color: var(--bgr-close);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

}
.bgr-filter-close {
  background-color: var(--bgr-filter-close);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

}
@keyframes anime-base2-to-base4-click {
    0% {
        color: var(--base-color2);
    }
    50% {
        color: var(--base-color2);
    }
    100% {
        color: var(--base-color4);
    }
}

.base2-to-base4 {
  animation: anime-base2-to-base4-click .3s linear; 
}