:root{
  --base-color1 : #{$base-color1};
  --base-color1-hover : #{$base-color1-hover};
  --base-color2 : #{$base-color2};
  --base-color3 : #{$base-color3};
  --base-color4 : #{$base-color4};
  --base-color5 : #{$base-color5};
  --base-color6 : #{$base-color6};
  --base-color7 : #{$base-color7};
  // --base-color8 : #{$base-color8};
  --old-price-color: #{$base-color7};
  --footer-bgr-color : #{$base-color1};
  --page-bgr-primary: #fff;
  --page-bgr-secondary: #e2e2e2;
  --page-bgr-tmp: #a7a7a7;
  --bgr-close: #{$substrate-bgr};
  --bgr-filter-close: #{$filter-close-bgr};
  --text-color-default: #{$text-color};
  --text-color-light: #{$text-color-light};
  --text-color-light2: #{$text-color-light2};
  --menu-info-mobile: #{$base-color4 };
  --text-block-hover: #{$base-color5 };
  --filter-border-color: #{$filter-border-color };
  --price-sale: #{$price-sale};
  --product-tag-bgr: #{$product-tag-bgr};
  --box-shadow-modal: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --scrollbar-width: 4px;
  --scrollbar-height: 4px;
  --scrollbar-track: #{$scrollbar-track};  // цвет полосы прокрутки
  --scrollbar-track-hover: #{$scrollbar-track-hover}; // цвет полосы прокрутки при хувере
  --scrollbar-track-drag: #{$scrollbar-track-drag}; // цвет полосы прокрутки при перетаскивании
  --scrollbar-thumbs: #{$scrollbar-thumbs};  // цвет бобышки (индикатора) на плосе прокрутки
  --scrollbar-thumbs-hover: #{$scrollbar-thumbs-hover}; // цвет бобышки (индикатора) при хувере
  --scrollbar-thumbs-drag: #{$scrollbar-thumbs-drag}; // цвет бобышки (индикатора) при перетаскивании
  --input-error : #{$input-error};
  --product-card-hover-border : #{$product-card-hover-border};
  



  //============================
  --burger-bgr-color: transparent;
  --burger-bgr-show: transparent;
  --burger-color : #{$base-color1};

  //--warning-color : #{$warning-color};
  //--danger-color : #{$danger-color};
  //
  //--text-color-light: #{$text-color-light};
  //--filter-checkbox-color: #{lighten($text-color-light,10%)};
  //--border-radius: 16px;
  //--box-shadow-default: 0px 4px 4px rgba(85, 85, 85, 0.1);
  //--sale: #{$sale-color};
  //--sp-tab-border-color : #f4f4f4;
  //
  //--triangle : #cecece;
  //--link-color: #{$base-color1};
  //--submenu-border: #dedede;
  //--submenu-bgr: #fff;
  //--submenu-item-hover: #f4f4f4;
  //--btn-color: hsl(198, 100%, 36%);
  //--btn-hover-color: hsl(198, 100%, 26%);
  //--btn-chart-color: hsl(21, 100%, 74%);
  //--btn-chart-hover-color: hsl(21, 100%, 64%);
  //--border-color-default: #dedede;
  //
  //--btn-danger-hover-color: #{darken($danger-color, 25%)};
  //
  //
  ////--page-bgr-secondary: #8b8b8b;
  //
  //--form-error: #{$warning-color};
  //--form-text: rgba(10, 10, 10, 1);
  //--form-placeholder: rgba(100, 100, 100, .5);
  //--form-border-radius: 5px;
  //
  //--footer-address-color: #fff;//#aaa;
  //--star: #FF9F0A;
  //--star-gray : #{$text-color-light};
  --menu-max-width: 720px;
  //--p : 24px;
  //@include media-max-width2(1200) { --p: 16px;}
  --p: 16px;


  @include media-min-width2($sm) { --p: 24px;}

//  box-shadow: 0 0 0 2px #fff,0 0 0 4px var(--base-color1); // Окантовка выбранного слайда


}
.scrollbar-size-2{
  --scrollbar-width: 2px;
  --scrollbar-height: 2px;
}
.scrollbar-size-3{
  --scrollbar-width: 3px;
  --scrollbar-height: 3px;
}
.scrollbar-size-4{
  --scrollbar-width: 4px;
  --scrollbar-height: 4px;
}
.scrollbar-size-5{
  --scrollbar-width: 5px;
  --scrollbar-height: 5px;
}
.scrollbar-size-6{
  --scrollbar-width: 6px;
  --scrollbar-height: 6px;
}

*{
  //border: 1px solid red;
}
html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  //color: $mainFontColor;
  color: var(--text-color-default);
  height: 100%;
  @include media-max-width2($xl) {
    font-size: 16px;
  }
  @include media-max-width2($lg) {
    font-size: 15px;
  }
  @include media-max-width2($xsm) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: var(--page-bgr-secondary);

  //scrollbar-color: var(--page-bgr-secondary) red;
  //scrollbar-width: calc(var(--border-radius) / 2);


  //&::-webkit-scrollbar {
  //  width: calc(var(--border-radius) / 2);               /* ширина scrollbar */
  //}
  //&::-webkit-scrollbar-track {
  //  background: var(--page-bgr-secondary);        /* цвет дорожки */
  //}
  //&::-webkit-scrollbar-thumb {
  //  background-color: var(--base-color2);    /* цвет плашки */
  //  //border-radius: calc(var(--border-radius) / 2);       /* закругления плашки */
  //  //border: 3px solid var(--base-color1);  /* padding вокруг плашки */
  //}


}
input, textarea {
  font-family: $mainFont;
  font-size: $mainFontSize;
}
.site-boby {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  //max-width: #{$desktopWidth};
  max-width: #{$xl} + 'px';
  
  position: relative;
  padding-top: 200px;
  
  @include media-max-width2($xlg) {padding-top: 250px;}
  @include media-max-width2($lg) {padding-top: 200px;}
  @include media-max-width2($md) {padding-top: 160px;}
  @include media-max-width2($sm) {padding-top: 130px;}

}
main {
  // margin-top: 100px;
  //min-width: 100px;
  //@include media-max-width2($sm) {  margin-top: 95px; }
  &.main-page { margin-top: 0;}
}
.container {
  max-width: #{$desktopWidth};
  width: 100%;
  //margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--p);

  @include media-max-width2($lg) { max-width: #{$smDesktopWidth};}
  @include media-max-width2($md) { max-width: #{$tableWidth};}
  @include media-max-width2($sm) { max-width: #{$smTableWidth};}



}
.in-page.preloader {  margin: 100px auto; }
.content-section {
  /*border: 1px solid red;*/
  display: flex;
  align-items: flex-start;
  @include media-max-width2($md - 1) {display: block}
}
.main-content {
  //max-width: 1170px;
  flex-grow: 1;
  //margin-left: auto;
}

p {color: var(--text-color-default)}
.page-title {
  font-weight: 500;
  // font-size: 26px;
  line-height: 1;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  @include adaptiv-font(30, 18);  

    // @include media-max-width2($lg) { font-size: 22px;}
    // @include media-max-width2($md) { font-size: 18px;}
    // @include media-max-width2($sm) { font-size: 14px;}

}
.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    //object-fit: cover;
    object-fit: contain;
    object-position: center;
    vertical-align: initial;
  }

}
.price-sale {
  color: var(--price-sale)!important;
}
.price-sale-bgr {
  --product-tag-bgr: var(--price-sale)!important;
}

.sidebar{
  &-left {
    //border: 1px solid green;
    flex-shrink: 0;
    flex-basis: 25%;
    min-width: 200px;
    /*width: 380px;*/
    margin-left: calc(-1*var(--p));
    padding-left: var(--p);
    @include media-max-width2($lg) {--p: 14px}
    @include media-max-width2(767) {
      flex-basis: auto;
      padding-left: 0;
      //margin-left: 0;
      width: calc(100vw - ((100vw - 100%)/2 ));
      //overflow-y: auto;
      height: 30px;
      overflow: hidden;
      margin-right: calc(-1*((100vw - 100%)/2 ));
      margin-bottom: 14px;
    }

  }

  &-scroll {
    @include media-max-width2(767) {
      width: 100%;
      overflow-y: auto;
    }
  }
}

.check {
  display: block;
  //background: #fff;
  color: inherit;
  //border: 1px solid currentColor;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.3333em;

  width: 1em;
  height: 1em;
  flex-shrink: 0;
  margin-right: .5em;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    //height: 0.0625em;
    height: 0.125em;
    background-color: var(--base-color2);
    opacity: 0;
  }
  &:before {
    top: 50%;
    width: .54em;
    transform: rotate(45deg);
  }
  &:after {
    top: 30%;
    left: 32%;
    width: .9em;
    transform: rotate(-45deg);

  }

}
.border {
  border: 1px solid currentColor;
}

.selected {
  .check {
    opacity: 1;
    &:before, &:after {opacity: 1;}
  }
}


.bgr-secondary { background-color: var(--page-bgr-secondary);}
.bgr-tmp { background-color: var(--page-bgr-tmp);}
.db {display: block!important;}
.fg {flex-grow: 1!important;}



.vm--overlay{background: var(--bgr-close)!important;}
.bgr-close {
  background-color: var(--bgr-close);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

}
.bgr-filter-close {
  background-color: var(--bgr-filter-close);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

}
@keyframes anime-base2-to-base4-click {
    0% {
        color: var(--base-color2);
    }
    50% {
        color: var(--base-color2);
    }
    100% {
        color: var(--base-color4);
    }
}

.base2-to-base4 {
  animation: anime-base2-to-base4-click .3s linear; 
}