.v-popper__arrow-container{
  // скрываем стрелку у всплывашек
  display: none!important;
}
.v-popper--theme-dropdown .v-popper__inner {
  box-shadow: 0px 0px 20px rgba(35, 54, 83, 0.15)!important;
  border: none!important;
}