// ---- theme: header_menu ----- start -----
.v-popper--theme-header_menu .v-popper__inner {
  background: var(--dropdown-background);
  padding: 1rem 1.5rem;
  border: 1px solid var(--dropdown-border);
  border-radius: 5px;
  box-shadow: var(--dropdown-box-shadow);
}

.v-popper--theme-header_menu .v-popper__arrow-outer {
  visibility: hidden;
}

.v-popper--theme-header_menu .v-popper__arrow-inner {
  visibility: hidden;
}
// ---- theme: header_menu ----- end -----



// ---- tooltip_breadcrumbs ----- start -----
.v-popper--theme-tooltip_breadcrumbs .v-popper__inner {
  background: #fff!important;
  color: var(--text-color-default)!important;
  padding: 1rem!important;
  border: 1px solid var(--base-color3)!important;
  border-radius: 5px!important;
  font-size: 1rem!important;
  line-height: 1.1!important;
}

.v-popper--theme-tooltip_breadcrumbs .v-popper__arrow-outer {
  visibility: hidden;
}

.v-popper--theme-tooltip_breadcrumbs .v-popper__arrow-inner {
  visibility: hidden;
}
// ---- tooltip_breadcrumbs ----- end -----






.v-popper__arrow-container{
  // скрываем стрелку у всплывашек
  display: none!important;
}
.v-popper--theme-dropdown .v-popper__inner {
  // box-shadow: 0px 0px 20px rgba(35, 54, 83, 0.15)!important;
  // border: none!important;
}
.v-popper__inner {
  border-radius: 5px;
  box-shadow: none!important;
  }

.popper-container {
  .v-popper__inner {
    // background: #fff;
    border: 1px solid var(--base-color3);
    border-radius: 5px;
    box-shadow: none!important;
  }
}

