.stars {
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--star-gray);
  &[data-rating="1"] {
    svg { &:nth-child(1) {color: var(--star)} }
  }
  &[data-rating="2"] {
    svg {
      &:nth-child(1) {color: var(--star)}
      &:nth-child(2) {color: var(--star)}
    }
  }
  &[data-rating="3"] {
    svg {
      &:nth-child(1) {color: var(--star)}
      &:nth-child(2) {color: var(--star)}
      &:nth-child(3) {color: var(--star)}
    }
  }
  &[data-rating="4"] {
    svg {
      &:nth-child(1) {color: var(--star)}
      &:nth-child(2) {color: var(--star)}
      &:nth-child(3) {color: var(--star)}
      &:nth-child(4) {color: var(--star)}
    }
  }
  &[data-rating="5"] {
    svg { color: var(--star) }
  }

  svg {
    font-size: inherit;
    color: inherit;
    &:not(:last-child){margin-right: .25em}

  }
}
