.razdel{
  &-filter {
    display: flex;
    align-items: flex-start;

    &-collapse {
      //border: 1px solid red;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      transition: max-height .3s;
      max-height: 100vh;
      overflow: hidden;
      &.collapse {
        max-height: 48px;
        margin-left: -6px;
        margin-right: -6px;
      }

      &-btn {
        //border: 1px solid red;
        font-size: 7px;
        margin-top: 2em;
        height: 1em;
        width: 1.8571em;
        flex-shrink: 0;
        margin-left: auto;
        position: relative;
        color: var(--text-color-default);
        cursor: pointer;
        transition: .3s;

        &.collapse {
          transform: rotate(180deg);
        }
        &:before, &:after {
          content: '';
          color: inherit;
          display: block;
          position: absolute;
          z-index: 1;
          background-color: currentColor;
          height: 1px;
          width: 1.36em; // 4px
          //width: 1.4em; // 7px
          top: 50%;
          //left: 50%;
          transition: .3s;
        }
        &:before {
          transform: rotate(47deg);
          left: -12%;
        }
        &:after {
          transform: rotate(-47deg) ;
          left: 38%;
        }


      }
    }
  }
}
