.filter{
  &-section{
    position: relative;
    margin: 8px 6px;
    border-radius: 5px;
    border: 1px solid var(--text-color-default);
    font-size: 14px;
    width: 15%;
    min-width: 150px;

    overflow: hidden;
      &.open {
        overflow: visible;


        .filter-arrow {
          transform: rotate(180deg);

        }

        .filter-item_list {display: block}
      }

      &.is-selected {
        .filter-section_title {
          color: #fff;
          background-color: var(--text-color-default);
        }
        .filter-arrow {
          &:before, &:after { width: 1.4em;}
          &:before {
            transform: rotate(45deg) translateX(0%) ;
            left: -20%;
          }
          &:after {
            transform: rotate(-45deg) translateX(0%);
            left: -20%;
          }

        }

      }

      &_title{
        display: flex;
        align-items: center;
        font-size: inherit;
        line-height: 2.15;
        padding: 0 0.7em;
        cursor: pointer;
        transition: .3s;
          .text {
            padding-right: .5em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            //max-width: calc(100% - 0.7143em);
          }

      }

  }
  &-arrow {
    //border: 1px solid red;
    display: inline-block;
    //font-size: 10px;
    font-size: 0.7143em;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    margin-left: auto;
    position: relative;
    color: inherit;
    transition: .3s;
    &:before, &:after {
      content: '';
      color: inherit;
      display: block;
      position: absolute;
      z-index: 1;
      background-color: currentColor;
      height: 1px;
      width: .5em; // 4px
      //width: 1.4em; // 7px
      top: 50%;
      //left: 50%;
      transition: .3s;
    }
    &:before {
      transform: rotate(45deg) translateX(-20%) ;
      left: 15%;
    }
    &:after {
      transform: rotate(-45deg) translateX(20%);
      left: 35%;
    }
  }
  &-item{
    font-size: .86em;
    &:not(:last-child){margin-bottom: 1.16em;}
    .checkbox_text {    min-width: 50px;}
    &_list {
      display: none;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid var(--text-color-default);
      padding: 1.6em .5em 1.6em 2em;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      height: 300px;
      //min-width: 100%;
      width: fit-content;

        &-scroll {
          height: 100%;
          padding-right: 1.1em;

          .vue-scrollbar__scrollbar-vertical {
            width: 4px;
          }
          .scrollbar {
            width: 4px;}
        }
    }
  }
}
