footer{
  font-size: 18px;
  line-height: 2;
  padding-top: 3.4em;
  padding-bottom: 2.25em;
  margin-top: auto;
  background-color: var(--footer-bgr-color);
  color: #fff;
  //border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
    //@include media-max-width2(1600) {font-size: 25px;}
    @include media-max-width2(1300) {font-size: 18px;}
    @include media-max-width2(1050) {font-size: 18px;}
    @include media-max-width2(992) {font-size: 18px;}
    @include media-max-width2(870) {font-size: 16px;}
    @include media-max-width2(780) {font-size: 15px;}
    @include media-max-width2(768) {
      font-size: 16px;
      padding-bottom: 60px;
      padding-top: 30px;
    }



    .icon-logo {
      font-size: inherit;
    }
    p {color: inherit}

}
.footer{
  &-row{
    --col-flex-basis: 320px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    //@include media-max-width2(1100) {flex-wrap: wrap}
    //&.jce {justify-content: flex-end}
    @include media-max-width2(1300) {--col-flex-basis: 275px}
    @include media-max-width2(1100) {--col-flex-basis: 220px}
    @include media-max-width2(992) {--col-flex-basis: 50%}
    @include media-max-width2(576) {--col-flex-basis: 100%}

    &.jcsb {
      justify-content: space-between;
      margin-left: calc(-1*var(--p));
      margin-right: calc(-1*var(--p));
    }
    &.aife{align-items: flex-end;}
  }
  &-logo-block {
    order: 1;
    font-size: 1.8571em;
    margin-bottom: .96em;
      @include media-max-width2(576) {display: none}

      .logo-link {
        font-size: inherit;
      }
  }
  &-address{
    font-size: 1em;
    //line-height: 1.43;
    max-width: 320px;


    color: var(--footer-address-color);
    flex-shrink: 0;
      &-label {
        display: inline-block;
        margin-right: .5em;
      }
      a {
        color: inherit;
        //&:hover {color: var(--link-color); }

      }
  }
  &-menu{
    &-block{
      order: 2;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: calc(-1*var(--p));
      margin-right: calc(-1*var(--p));

      flex-grow: 1;

      @include media-max-width2(768) { flex-wrap: wrap }
    }
    &-col {
      //border: 1px solid red;
      flex-shrink: 0;
      padding: 0 var(--p);
      margin-bottom: var(--p);
      flex-basis: var(--col-flex-basis);
      @include media-max-width2(576) {margin-bottom: 0}
    }
    &-link {
      display: block;
      margin-bottom: .357em;
      //margin-right: 15px;
      color: #fff;

    }
  }
  &-contacts{
    &-block{
      order: 3;
      //margin-left: auto;
      flex-shrink: 0;
      //width: 100%;
      //max-width: 300px;
      padding: 0 var(--p);
        //@include media-max-width2(1100) {
        //  order: 2;
        //  margin-left: 200px;
        //}
        @include media-max-width2(820) { margin-left: auto; }
        @include media-max-width2(768) { order: 3; margin-left: 0; }
        @include media-max-width2(400) { max-width: calc(100vw - 30px) }
    }
  }
  &-title{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    &.hide-mobile {
      @include media-max-width2(576) {display: none}
    }
  }
  &-oplata{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 220px;
    @include media-max-width2(768) {max-width:unset}
    @include media-max-width2(576) {
      justify-content: space-between;
    }

      &-item {
        width: fit-content;
        margin-right: 20px;
        margin-bottom: 10px;
        flex-shrink: 0;
        @include media-max-width2(576) {margin-right: 10px;}
      }

      &-link {
        cursor: pointer;
        display: block;
        //height: 1em;
        //width: 1em;
        color: #fff;
        //font-size: inherit;
        font-size: 70px;
        line-height: 1;
        //margin-bottom: .357em;
           @include media-max-width2(768) {font-size: 50px;}
           @include media-max-width2(500) {font-size: 30px;}

          .icon { font-size: inherit; }
          .icon-yoomoney{
            font-size: 1.2857em;
          }
      }
  }
  &-mobile-sb {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    @include media-max-width2(768) {margin-top: 40px;}
    @include media-max-width2(576) {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-collapse {
    @include media-max-width2(576) {
      //border-style: solid;
      //border-color: #909090;
      border-top: 1px solid #909090;
    }

    .footer-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-max-width2(576) {
        cursor: pointer;
        margin-bottom: 0;
        padding: 16px 0;
      }
    }
    .menu-arrow-next {
      @include media-min-width2(577) {display: none}
      &.down {
        transform: rotate(90deg);
      }
    }
    &-body {
      @include media-max-width2(576) {
        max-height: 0;
        overflow: hidden;
        transition: .5s;
      }
    }
    &.show {
      .menu-arrow-next {
        transform: rotate(270deg);
      }
      .footer-collapse {
        &-body {
          max-height: 100vh;
          padding-bottom: 1em;
        }
      }
    }

  }
  &-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 220px;

      &-link {
        cursor: pointer;
        display: block;
        color: #fff;
        font-size: 33px;
        line-height: 1;
        margin-right: .33em;


          @include media-max-width2(576) {font-size: 24px;}
          .icon { font-size: inherit; }
          //.icon {
          //  color: inherit;
          //  font-size: inherit;
          //}
      }
  }
  &-yamarket {
    &-link {
      color: #fff;
      font-size: 80px;
      @include media-max-width2(768) {font-size: 60px;}
      @include media-max-width2(576) {font-size: 40px;}
      .icon { font-size: inherit; }

    }
  }
  &-copyright-block{
    text-align: center;
    font-size: 18px;
    color: var(--footer-address-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    letter-spacing: 0.025em;
    flex-basis: calc(100% - var(--col-flex-basis));
    //@include media-max-width2(1300) {flex-basis: 275px}
    //@include media-max-width2(1100) {flex-basis: 220px}
    @include media-max-width2(992) {flex-basis: 100%}
    @include media-max-width2(768) {font-size: 16px;margin-top: 0}
    @include media-max-width2(576) {flex-basis: 100%; font-size: 12px;}


  }
  &-policy {
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      //width: fit-content;
      margin: 50px auto;
        @include media-max-width2(768) {
          margin: initial;
          margin-top: 20px;
          margin-bottom: 25px;
        }

    }
    &-link {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.12;
      color: inherit;
      opacity: .5;
      transition: .3s;
        @include media-max-width2(850) {font-size: 16px;margin-bottom: .5em}
        @include media-max-width2(768) {font-size: 14px;margin-bottom: .5em}
        @include media-max-width2(650) {font-size: 12px;margin-bottom: .5em}
      &:not(:last-child){margin-right: 1.5em;}
      &:hover {
        opacity: 1;
      }
    }
  }
}
