.checkbox {
  font-size: 12px;
  margin-bottom: 1.16em;
  color: var(--text-color-default);
  transition: .3s;
  cursor: pointer;
    &:hover {color: var(--text-color-light);}
  &-label {
    cursor: inherit;
  }
  &_text-block {
    display: flex;
    align-items: center;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
  }
  &_text {
    font-size: inherit;
    color: inherit;
  }
  &_icon {
    display: block;
    //background: #fff;
    color: inherit;
    border: 1px solid currentColor;
    border-radius: 5px;
    font-size: 1.3333em;

    width: 1em;
    height: 1em;
    margin-right: 1em;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      //height: 0.0625em;
      height: 0.125em;
      background-color: var(--base-color2);
      opacity: 0;
    }
    &:before {
      top: 50%;
      width: .54em;
      transform: rotate(45deg);
    }
    &:after {
      top: 33%;
      left: 40%;
      width: .9em;
      transform: rotate(-45deg);

    }


  }

  input[type="checkbox"]:checked {
    & + .checkbox_text-block {
      .checkbox_icon {
        &:before, &:after {opacity: 1}
      }
    }
  }
}
