.order{
  &-content {
    // display: none;
    opacity: 0;
    max-height: 2em;
    overflow: hidden;
    visibility: hidden;
    transition: .3s;
    margin-top: 3em;
    // padding-top: 1em;
    &.show-unavailable {
      margin-top: 0;
    }
    &.show {
      opacity: 1;
      visibility: visible;
      max-height: unset;
      // --map-height: 5em;
    }
  }
  &-section {
    &-label {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
      padding: 0 var(--m);

    }
  }
  &-toggle-btn {
    .check-btn_icon{font-size: 1.6em;}
  }
  &-form {
    --order-form-btn-maw: 346px;
    // display: flex;
    // align-items: flex-start;
    // flex-wrap: wrap;
    // max-width: 1260px;

    // &-col{
    //   width: 50%;
    //   @include media-max-width2($xlg) {
    //     font-size: 14px;
    //     width: 47%;
    //   }

    //   &.address {
    //     margin-top: -7.5em;
    //   }

    // }
    &-row{ 
      // padding: 0 var(--m);
      display: flex;
      flex-wrap: wrap;
      &.m-to-0 {
        margin-left: var(--m);
        margin-right: var(--m);
      }

    }
    &-section{ 
      // --m: 15px;
      --m: .75rem;
      // display: flex;
      // flex-wrap: wrap;
      // margin-bottom: 30px;
      margin: 0 calc(-1 * var(--m)) 1.5rem  calc(-1 * var(--m));
      // margin-bottom: 3em;
      &.m-0 { margin: 0;}
      &.delivery-opt {
        align-items: stretch;
        .icon-logo{
          --logo-online: var(--base-color2);
          --logo-odd: var(--base-color1);
          --logo-even: var(--base-color1);

        }
      }
      &.order-toggle-btn {
        align-items: stretch;
        .check-btn { 
          flex-grow: 1;
          flex-shrink: 0;
        }
      }
      &.address {
        flex-wrap: nowrap;
        margin-bottom: 0;
      }
      .check-item, .check-btn {
        margin-left: var(--m);
        margin-right: var(--m);
        margin-bottom: calc(2 * var(--m));
        // max-width: 400px;
          // @include media-max-width2( $xlg ) {
          //   max-width: unset;
          // }
      }
      .check-item {
        @include media-max-width2( $lg ) {
          flex-basis: calc(33.3333% - 2*var(--m));
        }
        @include media-max-width2( $md - 1 ) {
          flex-basis: calc(50% - 2*var(--m));
        }
        @include media-max-width2( $sm - 1 ) {
          flex-basis: 100%;
          flex-basis: calc(100% - 2*var(--m));

        }

      }
    }
    &-item{
      // margin: 0 var(--m) 9px var(--m);
      margin: 0 var(--m);
      flex-basis:  calc(33.33% - 2*var(--m));
      flex-grow: 0;
      // display: flex;
      // align-items: center;
      @include media-max-width2( $xxlg ) {
        flex-basis: calc(50% - 2*var(--m));
      }
      @include media-max-width2( $sm - 1  ) {
        // flex-basis: calc(50% - 2*var(--m));
        flex-basis: 100%;
      }

      &.has-note {
        @include media-max-width2( $xxlg ) {
          flex-basis: 100%;
          margin-bottom: calc(2 * var(--m));
        }

      }
      &.col-2 {
        flex-basis:  calc(66.66% - 2*var(--m));
      }
      &.kv-zip {max-width: 112px;}
      &.comment {
        // border: 1px solid red;
        max-width: 845px;
          @include media-max-width2( $xlg ) {
            flex-basis: 100%;
            max-width: unset;
          }

        .order-item-input {
          // border: 1px solid green;
          // height: 130px;
          height: 180px;
        }
        // textarea {
        //   height: 130px;
        // }
      }

    }
  }
  &-item{
    &-label {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      white-space: nowrap;
      // min-width: 120px;
      // width: 190px;
      margin-bottom: 15px;
        @include media-max-width2($xlg) { 
          font-size: 12px;
          min-width: unset;
          width: 70px;
        }
        .req {
          color: var(--base-color2);
          font-size: .6em;
          padding-left: .2em;
        }
        .tooltip {
          color: var(--text-color-light);
          margin-top: -8px;
        }
    }
    &-input {
      width: 100%;
      // position: relative;
      // font-size: 14px;
      // margin-bottom: 0.5em;
      // color: var(--text-color-default);
      // border: 1px solid var(--text-color-light);
      // transition: 0.3s;
      &.input-field {
        @include media-max-width2($xlg) { font-size: 10px;}
      }
      &.dropdown {
        margin: 0;
        // margin-left: 0;
        // margin-right: 0;
        &:hover {
          .dropdown_title {border-color: currentColor;}  
        }
      }

      &.focus {
          // .dropdown_title {border-color: currentColor;}  
          .dropdown_title {border-color: var(--base-color1)!important;}  
          .dropdown_arrow {color: currentColor;}
        }
        .dropdown {
          --vue-scrollbar-width: 4px;
          margin-bottom: 21px;
        }
        .dropdown_title {
          line-height: 1!important;
          border: 1px solid var(--text-color-light);
          margin-right: 0;
        }
        .dropdown_arrow {color: var(--text-color-light);}
        .dropdown-input {
          font: inherit;
          // padding: 0.8571em 1em;
          // padding: 0.3571em 0;
          padding: 0.785714285714em 1.28571428571em;
          background: #fff;
          // border: 1px solid var(--text-color-light);
          border: none;
          // border-radius: 5px;
          width: 100%;
          color: inherit;
          transition: 0.3s;
          border: 1px solid var(--text-color-light);
          border-radius: 5px;
        }
    }
  }
  &-total {
    // flex-grow: 1;
    display: flex;
    align-items: flex-start;
    max-width: 1040px;
    width: 100%;  
    border: 1px solid var(--base-color4);
    border-radius: 5px;
    padding: 25px 10px;
    margin-bottom: 16px;
        @include media-max-width2($xlg) {   
          padding: 19px 10px 25px 10px; 
          margin-bottom: 25px;
        }

    &-section {
      display: flex;
      align-items: flex-start;
      .order-item-label { @include media-max-width2($xlg) { display: none;} }

    }
    &-col {
      padding: 0 35px;
      width: 50%;
    }
  }
  &-pay{
    display: flex;
    align-items: flex-start; 
    margin-bottom: 40px;   
      @include media-max-width2($xlg) {   
        font-size: 10px; 
        margin-bottom: 32px;
      }
    
    &-item {
      display: block;
      cursor: pointer;
      &:not(:last-child) {margin-right: 30px;}
      >span {
        color: var(--base-color1);
        padding-left: 1em;
      }
      .icon-radio {
        display: block;
        --transition-duration: .2s;
        --radio-no-check: var(--base-color4);
        --radio-check: transparent;
        margin-bottom: 1em;
      }
      input:checked + .icon-radio {
        --radio-no-check: transparent;
        --radio-check:var(--base-color1);
      }

    }
  }
  &-tk {
    &-name {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 0.5em;
        @include media-max-width2($xlg) {   
          font-size: 14px; 
          margin-bottom: .4286em;
        }
    
    }
    &-descr {
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.3;
      @include media-max-width2($xlg) {   font-size: 12px; }

    }
  }
  &-info{
    padding-top: 10px;
    &-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      &.total {
        font-size: 26px;
        font-weight: 900;
          @include media-max-width2($xlg) {   font-size: 16px; }

        .order-info-label {
          font-size: 1em;
        }
        .order-info-val {
          font-size: 1.1538em;  
            @include media-max-width2($xlg) {   font-size: 1.25em; }

        }
      }
    }
    &-label {
      font-size: 22px;
      @include media-max-width2($xlg) {   font-size: 14px; }

      span {display: block;}
      .text{
        max-width: 140px;
      }
      .descr{
        font-weight: bold;  
        margin-top: 0.2em;
      }
    }
    &-val {
      font-size: 26px;
      line-height: 1;
        @include media-max-width2($xlg) {   font-size: 16px; }
      span {display: block;}
      .text{
        font-weight: bold;
        font-size: 1em;
      }
      .sale{
        font-weight: 500;  
        font-size: .6em;
        color: var(--base-color2);
        text-decoration: underline;
        text-align: right;
      }
      .hr {
        margin-top: 0.577em;
        background-color: var(--base-color4);
        width: 100%;
        height: 1px;
          @include media-max-width2($xlg) {margin-top: 1em;}
      }
    }
  }
  &-comment {
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    &-label{
      font-size: 14px;
      font-weight: bold;
      padding: 0 15px 0 35px;
      max-width: 210px;

    }

  }
  &-btn {
    &-block {
      display: flex;
      align-items: center;
      .btn {
        max-width: 330px;
        width: 100%;
      }
    }
    &-descr {
      font-size: 14px;
      line-height: 1.2;
      color: var(--text-color-light);
      padding-left: 1.8em;
      max-width: 235px;
    }
  }
  &-text{
    margin-bottom: 2em;
    line-height: 1.5;
    .link {
      display: block;
      color: var(--base-color1);
      line-height: 1;
      cursor: pointer;
      width: min-content;
      width: fit-content;

      position: relative;

      &:after {
        content: '';  
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid currentColor;
      }  
    }
  }
}  
.order-form-btn {
  font-size: 1em;
  // color: var(--base-color1);
  // cursor: pointer;
  white-space: nowrap;
  // margin: 0.8571em 0;
  // padding: 0.8571em 0;
  // line-height: 3;   
  max-width: var(--order-form-btn-maw);
  // width: 100%;
  width: calc(100% - 2*var(--m));
  margin-left: var(--m);
}
.deivery-service {

    &-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 65px;
      color: var(--text-color-default);
      
    }
    .check-item-descr {opacity: 1;}
    .check-item-offer {text-align: center;}

}

.lbl {
  position: absolute;
  right: 0;
  bottom: 100%;
  font-size: 10px;
  color: var(--base-color1);
  line-height: 1;
  text-align: right;
  max-width: 100px;
  padding-bottom: 0.7em;
}
.map-section {
  --map-height: 500px;
  display: flex;
  align-items: flex-start;
  // margin-bottom: 30px;
  max-height: 0;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  transition: .3s;
    @include media-max-width2($xlg) {
      --map-height: 220px;
      margin-bottom: 25px;
      }
    &.show { 
      max-height: var(--map-height);
      margin-bottom: 30px;
    }
    .order-item-label { @include media-max-width2($xlg) { display: none;} }
}
.yamap {
  flex-grow: 1;
  // height: var(--map-height);
  height: 100%;
  background-color: var(--base-color4);
    @include media-max-width2($xlg) { margin-right: 35px;}
}
