.input-field {
  // border: 1px solid red;
  --input-height: 3rem;
  width: 100%;
  font-size: 14px;
  color: var(--text-color-default);
  transition: .3s;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  border: 1px solid var(--text-color-light);
  border-radius: 5px;
  overflow: hidden;
    &:hover {
      border-color: currentColor;
    }
    &.focus {
      border-color: var(--base-color1);
    }
    &.textarea {
      --input-height: 100%;
      height: var(--input-height);
      padding: 1rem .5rem 1rem 1rem;
    }
    &.is-error {
      border-color: var(--input-error)!important;
      & + .input-field-error {
        opacity: 1;
        visibility: visible;
      }

    }
    &-container {
      padding-bottom: 1.5rem;
      position: relative;
      width: 100%;
      height: 100%;

    }
    &-textarea {
      width: 100%;
      height: var(--input-height);

      &-container {
        width: 100%;
        min-height: 100%;
        overflow: hidden;

      }
    }

    input {
      display: block;
      font: inherit;
      padding: 0 1rem;
      height: var(--input-height);
      background: #fff;
      color: inherit;
      transition: .3s;
      flex-grow: 1;

    }
    textarea {
      display: block;
      font: inherit;
      padding: 0;
      background: #fff;
      width: calc(100% + 20px); 
      color: inherit;
      transition: .3s;
    }
    &-error {
      position: absolute;
      width: 100%;
      font-size: .7rem;
      line-height: 1;
      color: var(--input-error);
      left: 0;
      top: var(--input-height);
      margin-top: 10px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;

    }
    &-clear{
      cursor: pointer;
      transition: .3s;
      flex-shrink: 0;
      &:hover{ color: var(--base-color2);}
    }

}