.input-field {
  position: relative;
  width: 100%;
  font-size: 14px;
  // margin-bottom: 1.78571428571em;
  margin-bottom: .5em;
  color: var(--text-color-default);
  transition: .3s;

    &.is-error {
      .input-field-error {
        opacity: 1;
        visibility: visible;
      }
    }
    input {
      font: inherit;
      padding: 0.8571em 1em;
      background: #fff;
      border: 1px solid var(--text-color-light);
      border-radius: 5px;
      width: 100%;
      color: inherit;
      transition: .3s;

        &:focus {
          border-color: currentColor;
        }
    }
    textarea {
      font: inherit;
      padding: 0.8571em 1em;
      background: #fff;
      border: 1px solid var(--text-color-light);
      border-radius: 5px;
      width: 100%;
      color: inherit;
      transition: .3s;
      &:focus {
          border-color: currentColor;
        }

    }
    &-error {
      // position: absolute;
      width: 100%;
      font-size: 0.8571em;
      line-height: 1.2;
      color: var(--base-color2);
      left: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      transition: .3s;

    }

}