.input-field {
  // border: 1px solid red;
  --input-height: 3rem;
  width: 100%;
  // font-size: 14px;
  font-size: inherit;
  color: var(--text-color-default);
  transition: .3s;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  border: 1px solid var(--text-color-light);
  border-radius: 5px;
  overflow: hidden;
    &:hover {
      border-color: currentColor;
    }
    &.focus {
      border-color: var(--base-color1);
    }
    &.textarea {
      --input-height: 100%;
      height: var(--input-height);
      padding: 1rem .5rem 1rem 1rem;
    }
    &-container {
      padding-bottom: 1.5rem;
      position: relative;
      width: 100%;
      height: 100%;
      // font-size: 1rem;
      font-size: .85rem;
        &.is-error {
          border-color: var(--input-error)!important;
          .error {
            opacity: 1;
            visibility: visible;
          }
        }
        &.is-success {
          // border-color: var(--input-error)!important;
          .success {
            opacity: 1;
            visibility: visible;
          }
        }

    }
    &-textarea {
      width: 100%;
      height: var(--input-height);

      &-container {
        width: 100%;
        min-height: 100%;
        overflow: hidden;

      }
    }

    input {
      display: block;
      font: inherit;
      padding: 0 1rem;
      height: var(--input-height);
      background: #fff;
      color: inherit;
      transition: .3s;
      flex-grow: 1;

    }
    textarea {
      display: block;
      font: inherit;
      padding: 0;
      background: #fff;
      width: calc(100% + 20px); 
      color: inherit;
      transition: .3s;
    }
    &-text {
      position: absolute;
      width: 100%;
      font-size: .7rem;
      line-height: 1;
      left: 0;
      top: var(--input-height);
      // margin-top: 10px;
      margin-top: .625em;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      &.error {color: var(--input-error);}
      &.success {color: var(--base-color1);}

    }

    &-clear{
      cursor: pointer;
      transition: .3s;
      flex-shrink: 0;
      &:hover{ color: var(--base-color2);}
    }

}