.clarifying {
  &-page {
    //padding-top: 100px;
    .main-content {
      max-width: 1170px;
      margin-left: auto;
      @include media-min-width2($md + 1) {padding-left: 30px;}
    }

    .main-tile {
      --col: 2;
      --m: 60px;

        @include media-max-width2(1600) {--m: 30px;}
        @include media-max-width2(1400) {--m: 20px;}
        @include media-max-width2(1200) {--m: 10px;}
      &-item {
        max-width: 500px;
        &-img {
          &:before {
            padding-bottom: 100%;
          }
        }
        &-title{
          @include media-max-width2($lg) { font-size: 16px;}
          @include media-max-width2($sm) { font-size: 10px;}
        }
      }
    }

  }
}
