// .location {
//   font-size: 16px;
//   color: #fff;
//   span { text-transform: initial!important; }
//   .icon-location {
//     font-size: 2.25em;
//     //margin-right: 5px;
//   }
// }
// .city-select .popup-body { width: 500px; }
.city{
  &-select {
    color: var(--text-color-default);
     .popup-body { 
      //  width: 500px; 
        @include media-max-width2($md) {right: 10px;}
      }

    &-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: var(--text-color-default);
    text-transform: uppercase;
    margin-bottom: 0.75em;

    }
  }
  &-auto-select {
    font-size: 12px;
    line-height: 1;
    color: var(--text-color-light);
    margin-bottom: 0.75em;
  }
  &-search {
    &-input{
      font-size: 12px!important;
      // input {font-size: 12px;}
    }
    &-item {
      font-size: 12px;
      line-height: 1.2;
      color: var(--text-color-default);
      cursor: pointer;
      // margin-bottom: 0.45em;
      padding: .25em;
      // transition: .1s;

        &:hover {font-weight: bold;}
        &.focus {
          background-color: var(--base-color3-opacity-01);
        }


    }
  }
  &-result-scroll{
    max-height: 370px;
  }

}