.burger {
  --burger-bgr: transparent;
  --burger-line-color: #fff;
  --burger-width: 100%; //56px;
  --burger-height: 5px;
  //--burger-height: 0.07143em;
  position: relative;
  z-index: 10;
  background-color: var(--burger-bgr);
  //padding: 12px 10px;
  padding: .222222em .185185185em;
  font-size: 54px;
  height: 1em;
  width: 1.3em;//70px;
  cursor: pointer;
    @include media-max-width2(1500) {
      --burger-height: 4px;
      font-size: 51px;
    }
    @include media-max-width2(1200) {
      --burger-height: 3px;
      font-size: 48px;
    }
    @include media-max-width2(768) { font-size: 40px; }
    @include media-max-width2(576) {
      --burger-height: 2px;
      font-size: 30px;
    }
    &.open {
      --burger-bgr: #fff;
      --burger-line-color: var(--base-color1);
      .cross {
        margin-left: 5%;

        &:before {
          background-color: red;
          height: 50%;
          transform: rotate(35deg);
        }
        &:after {
          background-color: red;
          height: 50%;
          transform: rotate(-35deg);
        }
      }
    }

  > div {
    font-size: inherit;
    height: var(--burger-height);
    width: var(--burger-width);
  }
  &-line {
    background-color: var(--burger-line-color);
    margin-top: 9px;
    @include media-max-width2(768) {margin-top: 6px;}
    @include media-max-width2(576) {margin-top: 5px;}
    &-top {
      //background-color: var(--burger-line-color);
      display: flex;
      align-items: stretch;
      > div {
        &:first-child {
          background-color: var(--burger-line-color);
          flex-grow: 1
        }

      }
    }

  }
}

.cross {
  background-color: var(--burger-bgr);
  position: relative;
  flex-shrink: 0;
  flex-basis: 40%;
    &:before, &:after {
      content: '';
      position: absolute;
      background-color: var(--burger-line-color);
      height: 100%;
      width: 100%;
      top: 0;
      //transform: translateY(-50%);
      z-index: 1;
      transition: .5s;
    }
}
