.transfer-nav
  .transfer-nav-link.active(data-transfer-nav-id="postamat")
    span В пункт выдачи
  .transfer-nav-link(data-transfer-nav-id="courier")
    span Курьером


.transfer-tabs
  .transfer-tab.active(id="postamat")
    .transfer-tk-nav
      .transfer-tk-nav-link(data-transfer-tk-id="postamat-sdek" )
        svg.icon(class=`icon-sdek`) <use href="#icon-sdek"></use>
      .transfer-tk-nav-link(data-transfer-tk-id="postamat-rupost")
        svg.icon(class=`icon-sdek`) <use href="#icon-rupost"></use>
        span Почта России
      .transfer-tk-nav-link(data-transfer-tk-id="postamat-sklad")
        span самовывоз со склада магазина
    .transfer-tk-tabs
      .transfer-tk-tab.active(id="postamat-sdek")
        h3.description-title Доставка в пункт выдачи СДЭК
        .description-text Срок доставки 2-3 дня.<br>Цена 350 руб.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.
        a(href="#order-map" data-modal) Выберите пункт выдачи

      .transfer-tk-tab(id="postamat-rupost")
        h3.description-title Доставка Почтой России
        .description-text Срок доставки 2-3 недели.<br>Цена от 500 руб.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.
        a(href="#order-map" data-modal) Выберите пункт выдачи

      .transfer-tk-tab(id="postamat-sklad")
        h3.description-title Самовывоз со склада магазина
        .description-text Срок резервирования 2-3 дня.<br>Цена - бесплатно.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.

  .transfer-tab(id="courier")
    .transfer-tk-nav
      .transfer-tk-nav-link(data-transfer-tk-id="courier-sdek" )
        svg.icon(class=`icon-sdek`) <use href="#icon-sdek"></use>
      .transfer-tk-nav-link(data-transfer-tk-id="courier-dostavista")
        svg.icon(class=`icon-dostavista`) <use href="#icon-dostavista"></use>
      .transfer-tk-nav-link(data-transfer-tk-id="courier-yago")
        svg.icon(class=`icon-ya-go`) <use href="#icon-ya-go"></use>

    .transfer-tk-tabs
      .transfer-tk-tab.active(id="courier-sdek")
        h3.description-title Доставка в пункт выдачи СДЭК
        .description-text Срок доставки 2-3 дня.<br>Цена 350 руб.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.
        a(href="#order-map" data-modal) Выберите пункт выдачи

      .transfer-tk-tab(id="courier-dostavista")
        h3.description-title Доставка Достависта
        .description-text Срок доставки 2-3 недели.<br>Цена от 500 руб.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.
        a(href="#order-map" data-modal) Выберите пункт выдачи

      .transfer-tk-tab(id="courier-yago")
        h3.description-title Доставка Яндекс Go
        .description-text Срок резервирования 2-3 дня.<br>Цена - бесплатно.
        h3.description-title Расписание работы
        .description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere libero minima quod voluptas? Animi, asperiores atque et illo labore nisi quae quas repellat saepe tempore. A aut dolorem quisquam.






