footer
  .container
    .footer-row
      .footer-logo-block
        a.logo-link(href="/")
          svg.icon.icon-logo <use xlink:href="#icon-logo"></use>
        .footer-address.
          Адрес: г. Москва, ул. Кулакова, 21, стр. 16 <br>
          Тел.: #[a(href="tel:88001008937") +7 (800)  100 89 37] <br>
          Клиентам: #[a(href="mailto:zakaz@nosmag.ru") zakaz@nosmag.ru] <br>
          Для сотрудничества: #[a(href="mailto:info@nosmag.ru") info@nosmag.ru] <br>
          МСК пн-пт 9ч-21ч, сб-вс 10-21ч "
      .footer-menu-block
        .footer-menu-col
          .footer-title Помощь клиентам:
          a.footer-menu-link(href="#") О компании
          a.footer-menu-link(href="#") Как заказать
          a.footer-menu-link(href="#") Доставка и оплата
          a.footer-menu-link(href="#") Качество и гарантия
          a.footer-menu-link(href="#") Полезное / подсказки
        .footer-menu-col
          .footer-title Юридическим лицам:
          a.footer-menu-link(href="#") Оптовикам
          a.footer-menu-link(href="#") Партнерская программа
          a.footer-menu-link(href="#") Реквизиты
      .footer-contacts-block
        .footer-title Будь всегда в курсе!
        form.footer-subscribe
          .form-item
            input(type="email" name="userEmail" placeholder="Ваш e-mail")
          button.btn.btn-white(type="submit") Подписаться
        .footer-title Мы в соцсетях
        .footer-social
          a.footer-social-link(href="#")
            svg.icon.icon-vk <use xlink:href="#icon-vk"></use>
          a.footer-social-link(href="#")
            svg.icon.icon-instagram <use xlink:href="#icon-instagram"></use>

    //.footer-row
    //  .footer-copyright-block.
    //    #[a.nosmag-link(href="/") Nosmag.ru] 2020 - интернет магазин носочных изделий. #[span Сайт разработан компанией #[a(href="#") Нетекс]]
