-
  var menuObj = [
    { title: "наборы носков",
      arr: [
        {href: "http://nosmag.ru/noski_v_keise", text: "Носки в кейсе"},
        {href: "http://nosmag.ru/meshok_noskov", text: "Носки в мешке"},
        {href: "http://nosmag.ru/noski_v_banke", text: "Носки в банке"},
        {href: "http://nosmag.ru/bouquet_socks", text: "Букет из носков"},
        {href: "http://nosmag.ru/shoper", text: "Сумки-шоперы"},
        {href: "http://nosmag.ru/meshki", text: "Пустые мешки"}
      ]
    },
    { title: "мужчинам",
      arr: [
        {href: "https://nosmag.ru/noski_v_keise", text: "Носки в кейсе"},
        {href: "https://nosmag.ru/noski", text: "Мужские носки"},
        {href: "https://nosmag.ru/muzhskie_trusy", text: "Мужские трусы"},
        {href: "https://nosmag.ru/man_thermo-clothing_trousers-and-pants", text: "Термоодежда"},
        {href: "https://nosmag.ru/muzhskie_mayki", text: "Мужские майки и футболки"},
        {href: "https://nosmag.ru/home_clothers", text: "Мужская домашняя одежда"},
        {href: "https://nosmag.ru/man_beachwear_smelting", text: "Мужская пляжная мода"},
        {href: "https://nosmag.ru/others", text: "Сопутствующие товары"}
      ]
    },
    { title: "женщинам",
      arr: [
          {href: "https://nosmag.ru/socks_woman_all", text: "Женские носки"},
          {href: "https://nosmag.ru/womens_socks_golfy", text: "Женские гольфы"},
          {href: "https://nosmag.ru/womens_socks_getry", text: "Женские гетры"},
          {href: "https://nosmag.ru/womens_podsledniki", text: "Женские подследники"},
          {href: "https://nosmag.ru/zhenskie_kolgotki", text: "Женские колготки"},
          {href: "https://nosmag.ru/others", text: "Сопутствующие товары"}
      ]
    },
    { title: "детям",
      arr: [
        {href: "https://nosmag.ru/socks_for_boys", text: "Носки для мальчиков"},
        {href: "https://nosmag.ru/socks_child", text: "Носки для девочек"},
        {href: "https://nosmag.ru/clothes_trusi_boys", text: "Трусы для мальчиков"},
        {href: "https://nosmag.ru/clothes_trusi_girls", text: "Трусы для девочек"},
        {href: "https://nosmag.ru/clothes_futbolki_mayki_boys", text: "Футболки и майки для мальчиков"},
        {href: "https://nosmag.ru/clothes_futbolki_mayki_girls", text: "Футболки и майки для девочек"},
        {href: "https://nosmag.ru/termowear_boys", text: "Термоодежда для мальчиков"},
        {href: "https://nosmag.ru/termowear_girls", text: "Термоодежда для девочек"},
        {href: "https://nosmag.ru/clothes_bruki_worti_boys", text: "Брюки и шорты для мальчиков"},
        {href: "https://nosmag.ru/golfy_dlya_devochek", text: "Гольфы для девочек"}
      ]
    },
    { title: "акции",
      class: "sale",
      arr: [
        {href: "#", text: "Название акции 1"},
        {href: "#", text: "Название акции 2"},
        {href: "#", text: "Название акции 3"},
        {href: "#", text: "Название акции 4"},
        {href: "#", text: "Название акции 5"},
      ]
    }
  ]

.menu-close(data-menu-close)
.menu-block
  ul.menu(data-menu-id)
    li.mobile-header
      +burger(1)

      a.logo-link
    each val in menuObj
      li.menu-item(class = val.class)
        div
          a.menu-link=val.title
          div.triangle(data-menu-action = "open")
        +menu-list(val.arr)
    li.mobile-contacts
      .header-phone
        span Тел.:
        a(href="tel:88001008937") 8-800-100-89-37
      +select(clientInfo)
      +select(selectTown)
