.order-form
  .container.order-page-section
    .order-form-section
      h2.form-section-title Способ доставки
      +select(regions)
      +select(towns)
      .order-delivery-block
        .order-delivery
          .delivery-nav
            .delivery-nav-item.active(data-nav-id="courier")
              .delivery-nav-item-title
                span Курьером
                +checkbox("День в день", "","day2day","vch", "")
              .delivery-nav-item-body
                +radio("СДЭК", "sdek", "deliveryCompany", "sdek")
                +radio("DPD", "dpd", "deliveryCompany", "dpd", "")
                +radio("Достависта", "dostavista", "deliveryCompany", "dostavista")
            .delivery-nav-item(data-nav-id="postamat")
              .delivery-nav-item-title
                span В пункт выдачи
              .delivery-nav-item-body
                +radio("СДЭК", "sdek", "deliveryCompany", "sdek")
                +radio("DPD", "dpd", "deliveryCompany", "dpd", "")
            .delivery-nav-item(data-nav-id="pochta")
              .delivery-nav-item-title
                span Почта россии
              .order-delivery-card-body

          .delivery-tabs
            .delivery-tab.active(data-tab-id="courier")
              .delivery-description.active(data-description="sdek")
                h3.description-title Курьерская доставка СДЭК
                .description-text Срок доставки 2-3 дня.<br>Цена 350 руб.
              .delivery-description(data-description="dpd")
                h3.description-title Курьерская доставка DPD
                .description-text Срок доставки 3-4 дня.<br>Цена 450 руб.
              .delivery-description(data-description="dostavista")
                h3.description-title Курьерская доставка Достависта
                .description-text Срок доставки 1-2 дня.<br>Цена 550 руб.
            .delivery-tab(data-tab-id="postamat")
              .delivery-description(data-description="sdek")
                h3.description-title Доставка в пункт выдачи СДЭК
                .description-text Срок доставки 2-3 дня.<br>Цена 350 руб.
              .delivery-description(data-description="dpd")
                h3.description-title Доставка в пункт выдачи DPD
                .description-text Срок доставки 2-3 дня.<br>Цена 450 руб.
            .delivery-tab(data-tab-id="pochta")
              .delivery-description
                h3.description-title Доставка Почтой России
                .description-text Срок доставки 2-3 недели.<br>Цена от 500 руб.



        #map.order-map
          img(src="assets/img/yamap.png" style="width: 100%; height: 100%; object-fit: cover; object-position: center;")

  .container.order-page-section
    .order-form-section
      h2.form-section-title Покупатель
      .personal-info
        .form-line.col-3
          .form-item
            input(type="text" name="userSurname" placeholder="Фамилия" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userName" placeholder="Имя" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userPatronymic" placeholder="Отчество" required)
            .form-item-error Не верно заполнено поле
        .form-line.col-3
          .form-item
            input(type="tel" name="userTel" placeholder="Телефон" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="email" name="userEmail" placeholder="E-Mail" required)
            .form-item-error Не верно заполнено поле
        .form-line
          .form-item
            input(type="text" name="userAddress" placeholder="Адрес доставки" required)
            .form-item-error Не верно заполнено поле
        .form-line
          +checkbox("Другой получатель", "","anotherRecipient","vch")

  .container.order-page-section
    .order-form-section.payment-type
      h2.form-section-title Оплата заказа
      //+radio("Предоплата заказа", "prepayment", "orderPayment", "Prepayment")
      label.radio
        input(type="radio" name="orderPayment" value="Prepayment")
        span.radio-item
        span.radio-text
          span Предоплата заказа
          span.prepayment
            span.visa
            span.master-card
            span.ymoney
      +radio("Оплата при получении", "", "orderPayment", "uponReceipt", "")
      .fz-152 Нажимая кнопку "Оплатить заказ", я даю согласие на обработку<br>персональных данных, в соответствии с ФЗ №152 от 27.07.2006 г.<br>"О персональных данных"

  //.container
  //  .form-item
  //    button.btn(type="submit") ОПЛАТИТЬ ЗАКАЗ

