.order-form
  .container.order-page-section
    .order-form-section
      h2.form-section-title Способ доставки
      +select(regions)
      +select(towns)
      .order-delivery-block
        .order-delivery
          include delivery-block2
  .container.order-page-section
    .order-form-section
      h2.form-section-title Покупатель
      .personal-info
        .form-line.col-3
          .form-item
            input(type="text" name="userSurname" placeholder="Фамилия" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userName" placeholder="Имя" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userPatronymic" placeholder="Отчество" required)
            .form-item-error Не верно заполнено поле
        .form-line.col-3
          .form-item
            input(type="tel" name="userTel" placeholder="Телефон" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="email" name="userEmail" placeholder="E-Mail" required)
            .form-item-error Не верно заполнено поле
        .form-line
          .form-item
            input(type="text" name="userAddress" placeholder="Адрес доставки" required)
            .form-item-error Не верно заполнено поле
        +checkbox2("Другой получатель", "anotherRecipient","vch")
        .form-other.form-line.col-3
          .form-item
            input(type="text" name="userSurname" placeholder="Фамилия" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userName" placeholder="Имя" required)
            .form-item-error Не верно заполнено поле
          .form-item
            input(type="text" name="userPatronymic" placeholder="Отчество" required)
            .form-item-error Не верно заполнено поле




  .container.order-page-section
    .order-form-section.payment-type
      h2.form-section-title Оплата заказа
      +payment-type2
      //+radio("Предоплата заказа", "prepayment", "orderPayment", "Prepayment")
      //label.radio
      //  input(type="radio" name="orderPayment" value="Prepayment")
      //  span.radio-item
      //  span.radio-text
      //    span Предоплата заказа
      //    span.prepayment
      //      span
      //        svg.icon.icon-visa <use href="#icon-visa"></use>
      //      span
      //        svg.icon.icon-mastercard <use href="#icon-mastercard"></use>
      //      span
      //        svg.icon.icon-ymoney <use href="#icon-ymoney"></use>
      //
      //+radio("Оплата при получении", "", "orderPayment", "uponReceipt", "")
      .fz-152 Нажимая кнопку "Оплатить заказ", я даю согласие на обработку<br>персональных данных, в соответствии с ФЗ №152 от 27.07.2006 г.<br>"О персональных данных"
