.product {
  &-tags {
    display: flex;    
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    &.static {position: static;}


  }
&-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--product-tag-bgr);
    font-size: 10px;
    color: #fff;
    line-height: 1;
    padding: .3em .4em;
    min-width: 3.8em;
    &:not(:last-child){  margin-right: .4em;}

    span {
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      margin-right: .2em;
    }
    svg {
      font-size: inherit;
      color: inherit;
    }

  }


}