.breadcrumbs {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  font-size: 1rem;
  margin-bottom: 1em;
  // margin-top: 100px;
  overflow-x: auto;

  &-item {
    color: var(--text-color-light);
    font-size: inherit;
    font-weight: 500;
    margin-bottom: .5em;
    a {
      cursor: pointer;
      color: inherit;
      transition: .3s;
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-flex;
      align-items: center;
      
      .icon {
        font-size: 1.5em;
        padding: 0 .16666em;
        flex-shrink: 0;
        transform: rotate(-90deg);

      }
        // &:after {
          
        //   content: '/';
        //   color: var(--text-color-light);
        //   padding: 0 .3em;
        // }
        
    }
    span {
      display: inline-block;
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    &:hover {
      color: var(--text-color-default);
    }
  }
  &-mobile {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    &_back{
      flex-shrink: 0;  
      cursor: pointer;
      font-size: 1.95rem;
      margin-right: 1rem;
      border: 1px solid var(--text-color-default);
      border-radius: 5px;
      color: var(--text-color-default);
    }
    &_title{
      flex-grow: 1;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.1;
    }
  }
}
