.el {
  &-label {
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.4;
    margin-right: .3125em;
  }
  &-text {
    display: inline-block;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.4;
  }
}
.show-more {
  font-size: 1rem;
  line-height: 1.4;
  display: block;
  width: max-content;
  width: fit-content;
  margin-top: .5rem;
  cursor: pointer;
  color: var(--base-color1);
}
.sizes-item-text {
  width: 100%;
  font-size: inherit;
  text-align: center;
  line-height: 1.1;
  opacity: .4;
  &.bottom{
    font-size: .714285714286em;
    margin-top: .2em;
  }
  &.active { opacity: 1;}

}
.report {
  &-text{
    font-size: .7rem;
    line-height: 1.2;
    margin-top: -.85rem;
    margin-bottom: 1rem;

      &.success{ 
        color: var(--base-color1); 
        opacity: 0;
        display: none;
      }
      // &.error{ color: var(--input-error); }
  }
  &-email {
    .is-error{ 
      &+ .success {
        display: block;
    }
  }
    .input-field-container{
      padding-bottom: 1.25rem;
    }

    // .btn {margin-top: 20px;}
  }
}
.feedback {
  &-form {
    &_label {
      font-size: 1rem;
      line-height: 1.2;
      margin-bottom: .5rem;
    }
    &_text{
      margin-bottom: .5rem;
      height: 7.5rem;
    }
    &_stars{
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
      @include media-max-width2($md - 1) {min-width: 17rem;}
    }
    &_files{
      display: flex;
      align-items: center;
      color: var(--base-color1);
      cursor: pointer;
      .icon {
        display: block;
        flex-shrink: 0;
        font-size: 2rem;
        margin-right: .6rem;
      }
      &-link {
        color: inherit;
        font-size: .6rem;
        flex-grow: 1;  
        max-width: 165px;
      }
    }
    .btn { 
      max-width: 346px; 
      @include media-max-width2($md - 1) {margin-bottom: 1.5rem;}

    }
  }
  &-filter {
    &_item {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) { margin-bottom: .5rem;}
      .checkbox_text {
        align-items: center;
        margin-left: 1rem;
      }
      .icon {
        font-size: 1rem;
        
      }
      
    }
    &_stars {
      font-size: 1.4rem;
      margin-right: .5rem;
      @include media-max-width2($md - 1) {min-width: 12rem;}
    }
    &_text {
      font-size: .6rem;
      line-height: 1.2;
    }
    &_btn{
      margin-top: 2rem;
      max-width: 346px;
      @include media-max-width2($sm) {max-width: unset;}      
    }

  }
  &-mobile{
    @include media-max-width2($md - 1) {      display: flex;    }
    @include media-max-width2($xsm) {      display: block;    }
    > div {
      &:first-child {
        @include media-max-width2($md - 1) {margin-right: 3rem;}
      }
    }

  }
}

.product {
  &-page {
    &-column{
      // border: 1px solid red;
        
      // width: 50%;
      // flex-basis: 50%;
      // width: 50%;
      // &:not(.slider){
      //   flex-grow: 1;
      //   max-width: 51%;
      // }
      &.slider{
      // border: 1px solid red;

        padding-right: .8rem;
        // flex-shrink: 0;
        // flex-grow: 1;
        width: calcFluidFontSize(502, 845, $md, $xl);
        @include media-max-width2($md - 1 ) {  
          width: 100%; 
          padding-right: 0;
        }
      }
      &.right {
      // border: 1px solid green;
        padding-left: .8rem;
        flex-shrink: 0;

        // flex-grow: 1;
        width: calcFluidFontSize(236, 845, $md, $xl);
        @include media-max-width2($md - 1) {  
          padding-left: 0;
          width: 100%; 
          // max-width: unset; 
        }
      }
    }
    &-row{
        display: flex;
        // align-items: flex-start;
        align-items: stretch;
          @include media-max-width2($md - 1) {  display: block; }

      &.show-info {
        display: block;
        padding-top: 5.75rem;
      }  
      }
    &_price-block{
      display: flex;
      // align-items: center;
      align-items: flex-end;
      margin-bottom: 1rem;
      .actual{
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 100%;
        color: var(--text-color-default);
      }
      .old {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1;
        text-decoration-line: line-through;
        // color: var(--old-price-color);
        color: var(--text-color-default);

        margin-left: .5em;
      }
    }    
    &_sale-block{
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      .sale{
        text-align: center;
        font-weight: 700;
        font-size: .8em;
        line-height: 1;
        padding: .3em .375em .2em .375em;
        margin-right: .625em;
        color: #fff;
        background-color: var(--base-color2);
      }
      .text {
        font-weight: normal;
        font-size: 1em;
        line-height: 1;
        color: var(--base-color2);
      }
    }
    &_brand{
      &-block {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

      }
      &-logo{
        // border: 1px solid red;
        // width: 3rem;
        height: 2.2rem;
        flex-shrink: 0;
        // overflow: hidden;
        // border-radius: 50%;
        // position: relative;
        margin-right: .5rem;
        img {
          height: 100%;
          width: auto;
          object-fit: contain;
          object-position: center;
        }  
      }
      &-text {
        font-size: .8rem;
        line-height: 1.4;
        > span {display: block;}
      }
    }    
  }
  &-title{
    color: var(--text-color-default);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
      // @include media-max-width2($xlg) {  font-size: 20px; }
      // @include media-max-width2($md) {  font-size: 18px; }
      // @include media-max-width2($sm) {  font-size: 16px; }

  }
  &-description {
    &-block {
      margin-bottom: 1.5rem;
    }
    &-info {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
  // &-tags {
  //   display: flex;    
  //   align-items: center;
  // }
  &-additional {
    display: flex; 
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 22px;
    height: 1em;

      @include media-max-width2($lg) { font-size: 18px; }
      @include media-max-width2($md) { font-size: 14px; }
      @include media-max-width2($md - 1) { max-width: var(--slide-width); }
      @include media-max-width2($sm) { font-size: 12px;}
      @include media-max-width2($xsm) {max-width: unset;}
        .product-tag {
          width: fit-content;
          font-size: 12px;
          margin-right: .6em;
            @include media-max-width2($lg) { font-size: 10px; }
            @include media-max-width2($md) { font-size: 8px; }
            @include media-max-width2($sm) { font-size: 5px; }

        }

  }
  &-rating-block {
    display: flex; 
    align-items: flex-end;
    margin: 0 1.5rem;
      .stars {
        font-size: 1.1rem;
        margin-right: .75rem;
        .icon {font-size: inherit;}
      }

  }
  &-feedbacks {
    font-size: .8rem;
    line-height: 1;
    // text-decoration-line: underline;
    color: var(--text-color-default);
    // margin-right: 6px;
    cursor: pointer;
      // @include media-max-width2($lg) { font-size: 12px; }
      // @include media-max-width2($md) { font-size: 10px; }
      // @include media-max-width2($sm) { font-size: 12px; }
      // @include media-max-width2($xsm) { font-size: 9px; }
      &.selected {color: var(--base-color2);}
  }
  &-slider{
    // border: 1px solid purple;
    overflow: hidden;      
    // width: 32.9rem;
    width: calcFluidFontSize(395, 660, $md, $xl);

      @include media-max-width2($md - 1) { 
        width: calc(100vw - var(--p)); 
        // width: 100%;
      }
      @include media-max-width2($xsm) { 
        width: 100vw; 
        margin-left: calc(-1 * var(--p));
      }
      .slick-track {display: flex!important;}

    &-block{
      // border: 1px solid green;
      // max-width: 654px;
      flex-grow: 1;
      // margin-bottom: 25px;
      // padding-right: 18px;
      // padding-right: 2.18%;
      // width: 1%;
      // --slide-width: 300px;
        @include media-max-width2($md - 1) { --slide-width: 300px; margin-bottom: 30px;}
        @include media-max-width2($sm - 1) { --slide-width: 270px;}
        @include media-max-width2($xsm) { --slide-width: 245px;}

        @include media-max-width2($md - 1) {
          padding-right: 0;
          width: 100%;   
          max-width: unset;
        }

      // &:not(.thumbs){flex-grow: 1;}
      &.thumbs{
        // border: 1px solid red;
        // padding: 1.5rem 0;
        // max-width: 168px;
        // width: 20.38%;
        // width: 7.1rem;
        width: calcFluidFontSize(85, 142, $md, $xl);
        height: 32.9rem;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 1.3rem;
        @include media-max-width2($md - 1) { display: none; }
        &.has-arrow {padding: 1.5rem 0;}
      }
    }
    // .slick-list {height: var(--slide-width);}
    &-item{
      // border: 1px solid red!important;
      border-radius: 5px;  
      overflow: hidden;
            @include media-max-width2($md - 1) {
              padding-right: 1rem;
              min-width: calcFluidFontSize(320, 508, $xs, $md - 1);
            }
            // @include media-max-width2($xsm) {padding-right: 0;}

        &-content {
          // border: 1px solid purple;
          padding-bottom: 100%;
          position: relative;
          // min-width: var(--slide-width);

        }
    }
    &-dots.slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: -15px;
      li {
        --dot-size: 7px;
        height: var(--dot-size);
        width: var(--dot-size);
        margin: 0 3px;
      }
      button {
        font-size: 0;
        border-radius: 50%;  
        padding: 0;
        height: inherit;
        width: inherit;
        background-color: var(--base-color4);

        &:before{content: none;}
      }
      .slick-active {
              button {
        background-color: var(--base-color1);
      }

      }
    }
  }
  &-info{
    &-block{
      // padding-top: 6rem;
      &.right {
        .product-info-row {margin-bottom: 1.5rem;}
      }
      .el-label {max-width: 50%;}
      .el-text {max-width: 50%;}
    }
    &-row{
      display: flex;
      align-items: baseline;
      // font-size: 14px;
      margin-bottom: 1em;
        @include media-max-width2($lg) {font-size: 12px;}
        @include media-max-width2($xsm) {font-size: 8px;}
    }
  }
  &-other {
    &-block{
      // width: 100%;
      // width: fit-content;
      // max-width: 750px;
      // max-width: 400px;
      margin-bottom: 1.5rem;
      overflow: hidden;
        @include media-max-width2($lg) {margin-bottom: 22px;}
        @include media-max-width2($md) {margin-bottom: 20px;}
        @include media-max-width2($sm) {margin-bottom: 15px;}

      .el-label {margin-bottom: .5rem;}
    }
    // &-slider{
    //   --padding-for-arrow : 1.2rem;
    //   --item-size: 5rem;
    //   --item-visible-count: 6;
    //   // width: fit-content;
    //   width: 100%;
    //   // max-width: calc((var(--item-size) + .5rem) * var(--item-visible-count));
    //   height: var(--item-size);

    //   // .slick-slide {
    //   //   max-width: 107px;
    //   // }
    //   // &.hide {
    //   //   .other-slider-arrow {display: none;}
    //   // }
    //   // .slick-slide {border: 1px solid red;}
    //   // .slick-track {display: flex!important;}
    //   &.has-arrows {
    //     // max-width: calc(var(--item-size) * var(--item-visible-count) + .5rem * (var(--item-visible-count) - 1 ) + 2 * var(--padding-for-arrow));
        
    //     padding-left: var(--padding-for-arrow);
    //     padding-right: var(--padding-for-arrow);

    //   }    
    //   .slick-slider {
    //     height: 100%;
    //   }
    //   .slick-prev {
    //     left: calc( -1 * var(--padding-for-arrow) );
    //   }
    //   .slick-next{
    //     right: calc( -1 * var(--padding-for-arrow) );
    //   }


    // }
  }
  &-quantity {
    display: flex;
    align-items: center;
      &-block {
        margin-bottom: 35px;
      }
      &-available {
        font-size: 14px;
        line-height: 1;
        color: var(--base-color2);
        margin-left: 1em;
          @include media-max-width2($lg) { font-size: 12px; }
          @include media-max-width2($xsm) { font-size: 8px; }

      }
      .number {
        font-size: 1rem;
        min-width: 118px;
        max-width: unset;
        padding: 0;
        @include media-max-width2($md) {min-width: 90px;}
        @include media-max-width2($sm) {min-width: 75px;}

      }
  }
  &-delivery {
    &-info{}
    &-label{
      display: flex;
      align-items: center;
    }
  }
  &-order-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    @include media-max-width2($xsm) {margin-bottom: 18px;}
  }
  &-delivery {
    &-info {
      display: flex;
      align-items: center;
      @include media-max-width2($lg) { flex-wrap: wrap; }
      @include media-max-width2($md - 1) { display: none; }

      &-text {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 0.85em;
        &:not(:last-child) { margin-right: 1.5rem;}
          @include media-max-width2($md) {font-size: 10px;}
        svg {
          font-size: 30px;
          @include media-max-width2($md) {font-size: 24px;}
        }
        span {
          display: inline-block;
          margin-left: 1em;
          max-width: 190px;
          @include media-max-width2($md) {max-width: unset;}
        }
      }
    }
    &-label {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 0.75em;
          @include media-max-width2($lg) { font-size: 12px; }
          @include media-max-width2($xsm) { font-size: 8px; }

        .label {
          color: var(--text-color-light);
          padding-right: 0.5em;
        }
    }
  }
  &-sizes {
    &-block{margin-bottom: 1.5rem;}
    &-row {
      display: flex;
      align-items: flex-start;
    }
    &_tab{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      // flex-grow: 1;
      margin: 0 -.25rem;
      // max-width: max-content;
      // max-width: fit-content;

      &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        padding: .57142857em;
        margin: .25rem;
        border-radius: 5px;
        border: 1px solid baseColorOpacity3(.2);
        min-height: 2.2rem;
        min-width: 2.2rem;
        cursor: pointer;
          &.selected {
            border-color: var(--base-color1);
            box-shadow: 0 0 0px 1px var(--base-color1);
    
          }
        &-boby{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          
        }
      }
      &-link{
        flex-shrink: 0;
        white-space: nowrap;
        cursor: pointer;
        font-size: .7rem;
        color: var(--base-color1);
        margin-right: auto;
        margin-left: 1rem;
        margin: .25rem auto .25rem 1rem;
      }

    }
    &_popper {
      border: 1px solid var(--base-color3);
      border-radius: 5px;
      padding: .5rem;
      background-color: #fff;
      min-width: 230px;
      &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .6rem;
        line-height: 1.1;
        &:not(:last-child){
          margin-bottom: .5rem;
        }
        &-name{
          font-size: inherit;
          line-height: inherit;
        }
        &-value{
          font-size: inherit;
          line-height: inherit;
          margin-left: 1rem;
        }
        &.report{ 
          cursor: pointer;
          color: var(--base-color1)
        }

      }
    }
  }
  &-add2cart {
    max-width: 346px;
    margin-bottom: 1.5rem;
    @include media-max-width2($lg) { max-width: 210px;}
    @include media-max-width2($md - 1) { 
      max-width: unset;
      margin-bottom: 0;
    }

    &_row{
      display: none;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      @include media-max-width2($md - 1) { display: flex; }
      > div {
        font-size: 1.45rem;
        font-weight: 500;
        &:first-child {margin-right: .5rem;}
      }
    }

    &_panel{
      @include media-max-width2($md - 1) { 
        padding: 1rem;
        border-radius: 3px;
        background-color: #fff;
        position: fixed;
        width: calc(100vw - 2 * var(--p));
        left: var(--p);
        bottom: 0;
        z-index: 9999;


      }

    }
  }

  // &-sizes {
  //   &-table{
  //     display: flex;
  //     align-items: center;
  //     flex-wrap: wrap;
  //     font-size: 14px;
  //     // max-width: 8em;
  //     margin-left: -0.5em;
  //     margin-bottom: 2em;
  //     &-title {
  //       font-size: 14px;
  //       line-height: 1;
  //       text-decoration-line: underline;
  //       margin-bottom: 0.5em;
  //       cursor: pointer;
  //       color: var(--base-color7);
  //         @include media-max-width2($lg) {font-size: 12px;}
  //         @include media-max-width2($xsm) {font-size: 8px;}
  //     }
  //   }
  //   &-item{
  //     font-size: inherit;
  //     color: var(--text-color-light);
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     // width: 2.85714285714em;
  //     // height: 2.85714285714em;    
  //     padding: .5em;
  //     margin: .5em;
  //     border: 1px solid currentColor;
  //     border-radius: 5px;
  //     overflow: hidden;
  //     cursor: pointer;
  //     transition: .3s;
  //       &.in-stock:hover {
  //         color: var(--base-color2);
  //         border-color: var(--base-color2);
  //       }
  //       &.in-stock {
  //         color: var(--text-color-default);
  //         border-color: var(--text-color-light);
  //       }

  //       &.active {
  //         // color: var(--text-color-default);
  //         border-color: currentColor;
  //       }


  //   }
  // }
}

.thumbs {
  // border: 1px solid green;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 150px;
  max-height: 100%;
  // margin-right: 18px;
  // margin-top: 27px;
    &-layout {
      // border: 1px solid red;
      position: relative;
      height: 0;     
      padding-bottom: 425%;
    }
    &-body {
      // border: 1px solid green;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .slick-slider {
        height: 100%;
        max-height: 100%;
      }
    }
    &-item{
      // border: 1px solid purple;
      cursor: pointer;
      display: block!important;
      // padding-bottom: 100%;
      // position: relative;
      // margin-bottom: 18px;
      padding: .25rem 0;
      // padding-bottom: 6.75%;

      &_content {
        // border: 1px solid green;

        padding-bottom: 100%;
        position: relative;

      }
    }
    &-arrow{
      // --indent: -42px;
      // height: 1rem!important;
      // width: 100%!important;  
        // @include media-max-width2($lg) {--indent: -32px;}

      &.slick-arrow{
        height: 1rem;
        width: 100%;
        // top: initial;
        // left: 0;
        // transform: translate(-50%, 0);
        background: #fff;
        border: 1px solid rgba(35, 54, 83, 0.4);
        border-radius: 5px;      
        font-size: 1rem;  
        transition: .3s;
        // color: var(--text-color-light);
        &:before, &:after {content: none;}
        // &:hover {color: var(--text-color-default);}
      }

      &.slick-next, &.slick-prev{
        // position: static;
        left: 0;
        color: var(--text-color-light);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        // &:before, &:after {content: none;}
        &:hover {color: var(--text-color-default);}
      }
      &.slick-prev{
        top: -1.5rem;
        // margin-bottom: .5rem;
        .icon {transform: rotate(180deg);}
      }
      &.slick-next{
        top: 100%;
        margin-top: .5rem;
      }
    }
    &-slider {
      .slick-slide {
        border-radius: 5px;
        // overflow: hidden;

      }
      .slick-current{
        box-shadow: inset 0 0 0 3px var(--base-color1)
      }
      // .slick-list {
      //   border: solid purple!important;
      //   border-width: 1px 0!important;
      // }
      .img-box{z-index: -1;}
    }

}

.other {

  &-slider{
    &-item{
      // border: 1px solid red!important;
      --pr: 7px;
      display: block!important;
      // font-size: 100px;
      font-size: var(--item-size);
      width: 1em!important;
      height: 1em;
      // margin-right: var(--pr);
      border: 2px solid transparent;
      border-radius: 5px;
      overflow: hidden;
      margin-right: .5rem;

        &.current {border-color: var(--base-color1);}  
      
      &-content {
        display: block;
        // border: 1px solid red;
        position: relative;
        padding-bottom: 100%;
      }
    }
    // &-arrow {
    //   color: var(--base-color4)!important;
    //   &:before, &:after {content: none!important;}
    //   &:hover {
    //     color: var(--text-color-default)!important;
    //   }
      // &.slick-prev {
      //   left: -1.2rem;
      //   .icon {transform: rotate(180deg);}
      // }
      // &.slick-next{
      //   right: -1.2rem;
      // }

    // }

  }
}


.show-desktop{
  @include media-max-width2($md - 1) {display: none!important;}
}
.show-mobile{
  display: none;
  @include media-max-width2($md - 1) {display: block;}
}