.check-toggle {
  --off-color: var(--base-color4);
  --on-color: var(--base-color1);
  font-size: 12px;
  color: var(--text-color-default);
  transition: .3s;
  cursor: pointer;
    &:hover {color: var(--text-color-light);}
  &_body {
    display: flex;
    align-items: center;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
  }
  &_text {
    display: inline-flex;
    font-size: inherit;
    color: inherit;
    //margin-left: .5em;
  }
  &_icon {
    display: block;
    //background: #fff;
    color: var(--off-color);
    border: 1px solid currentColor;
    background-color: var(--base-color5);
    border: 1px solid var(--base-color4);

    border-radius: .5em;
    font-size: 1.1667em;

    width: 2.14em;
    height: 1em;
    flex-shrink: 0;
    margin-right: .5em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      color: inherit;
      background-color: currentColor;
      
      top: -1px;
      left: 0;    
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transition: .3s;
    }
  }

  input[type="checkbox"]:checked {
    & + .check-toggle_body {
      .check-toggle_icon {
        color: var(--on-color);
        &:before {
          transform: translateX(100%);
        }
      }
    }
  }
}
