// Base colors
$base-color1            : #326FCA;
$base-color2            : #DD5500;
$base-color3            : #233653;
$base-color4            : #C4C4C4;
$base-color5            : #EFEFEF;
$base-color6            : #fff;
$blackout               : rgba(104, 139, 205, 0.1);
$substrate-bgr          : rgba(104, 139, 205, 0.2);
$filter-border-color    : #9f9f9f;
$product-tag-bgr        : rgba(50, 111, 202, 0.5);

// Burger
$burgerW: 20px;
$burgerH: 14px;
$burgerLineH: 2px;
$burgerPadding: 0px;

// Font
$mainFont                : Roboto, sans-serif;
$mainFontColor           : $base-color3;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1;

//$desktopWidth            : 1920px;
//$smDesktopWidth          : 992px;
//$tableWidth              : 768px;
//$smTableWidth            : 576px;
//$phoneWidth              : 480px;
//$smPhoneWidth            : 320px;

$xl          : 1920;
$lg          : 992;
$md          : 768;
$sm          : 576;
$xsm         : 480;
$xs          : 320;

$desktopWidth       : 1738px;
$smDesktopWidth     : 848px;
$tableWidth         : 724px;
$smTableWidth       : 100vw;
$phoneWidth         : 100vw;
$smPhoneWidth       : 100vw;

// Main color

//$default-color          : #ffffff;
$text-color              : $base-color3; //#555555;
$text-color-light        : $base-color4; //#cccccc;
$price-sale              : $base-color2;
//$logo-text-color         : #5a5a5a;
//$warning-color           : $base-color2; //#FB4545;
////$success-color           : #26de81;
//$danger-color            : #FB4545;
//$light-color             : #999999;
//$purple-color            : #8854d0;
//
//// Border Color
//$border-base             : #DCDFE6;
//$border-light            : #E4E7ED;
//$border-lighter          : #EBEEF5;
//$border-lightex          : #F2F6FC;
