include ../utils/mixins
block variables
-
  var regions = {
    id: "selectRegion",
    name: "selectRegion",
    title: "Выберите ваш регион",
    class: "form-select",
    triangleClass: "down-arrow",
    values: [
      {optionValue: "Московская область", text: "Московская область"},
      {optionValue: "Ланинградская область", text: "Ланинградская область"},
      {optionValue: "Республика Карелия", text: "Республика Карелия"},
      {optionValue: "Республика Коми", text: "Республика Коми"},
      {optionValue: "Удмуртская Республика", text: "Удмуртская Республика"},
    ]
  };

-
  var towns = {
    id: "selectTown",
    name: "selectTown",
    title: "Выберите город",
    class: "form-select",
    triangleClass: "down-arrow",
    values: [
      {optionValue: "Комсомольск-на-амуре", text: "Комсомольск-на-амуре"},
      {optionValue: "Москва", text: "Москва"},
      {optionValue: "Санкт-Петербург", text: "Санкт-Петербург"},
      {optionValue: "Ижевск", text: "Ижевск"},
      {optionValue: "Казань", text: "Казань"},
    ]
  };

-
  var prodArr = [
    { href: "#", src: "prod-item-1.png", price: "1 300", oldPrice: " 1 600", sale: "50%", descr: "Набор «На любой случай жизни», 10 пар носков по 2 пары в упаковке из 10, разноцветные", srcArr: ["prod-item-1.png", "prod-item-2.png","prod-item-3.png"]},
    { href: "#", src: "prod-item-2.png", price: "1 100", oldPrice: " 2 600", sale: "55%", descr: "Набор «На любой случай жизни», 10 пар носков по 2 пары в упаковке из 10, разноцветные", srcArr: ["prod-item-2.png", "prod-item-1.png","prod-item-3.png"] },
    { href: "#", src: "prod-item-3.png", price: "900", oldPrice: " 1 600", sale: "40%", descr: "Набор «На любой случай жизни», 10 пар носков по 2 пары в упаковке из 10, разноцветные", srcArr: ["prod-item-3.png", "prod-item-2.png","prod-item-1.png"] },
    { href: "#", src: "none-foto.png", price: "1 300", oldPrice: " 1 600", sale: "50%", descr: "Набор «На любой случай жизни», 10 пар носков по 2 пары в упаковке из 10, разноцветные", srcArr: ["none-foto.png", "prod-item-2.png","prod-item-3.png"] },
  ];
- var prodImgPath = "assets/img/prod-item/"

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    meta(name="description", content=description)
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
    block head

  body.wrapper(class=pageClass)
    include ../includes/modules/header
    block content
    include ../includes/modules/footer
    include ../includes/modules/modal
