extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  section.container.page-title-section
    h1.page-title.mtb-05
      span Страница не найдена


  main
    .err404-block.container
      .err404-img
        img(src="assets/img/404.png" alt="")
      .err404-text
        .err404-title 404
        p Проверьте правильность написания адреса или перейдите в каталог
        a.btn.btn-secondary(href="#") В КАТАЛОГ









