extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру - Каталог-Категории';
  - var description = 'НосМаг.ру - Каталог-Категории';
  - var pageClass = '';
  -
    var catalogSections = [
          {href: "#", src: "sect-1.png", title: "Наборы носков"},
          {href: "#", src: "sect-2.png", title: "Мужчинам"},
          {href: "#", src: "sect-3.png", title: "Женщинам"},
          {href: "#", src: "sect-4.png", title: "Детям"},
        ];
  - var catalogSectionsPath = "assets/img/catalog-sections/"


block content
  main.container
    section.catalog-section
      h1.page-title Каталог
      .catalog-section-list
        each el in catalogSections
          +catalog-section-item(catalogSectionsPath, el)

