extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  main.order-page
    section.container.zero-links
      a.btn(href="main.html") Главная
      a.btn(href="catalog-sections.html") Каталог - Разделы
      a.btn(href="catalog-detail.html") Каталог-Раздел - Детально
      a.btn(href="product-detail.html") Карточка продукта - Детально
      a.btn(href="product-detail-table.html") Карточка продукта - Детально (Табличная цена)
      a.btn(href="basket.html") Корзина
      a.btn(href="order.html") Заказ
      a.btn(href="order-success.html") Успешный Заказ
      a.btn(href="404.html") 404
      a.btn(href="shipping-and-payment.html") Доставка и оплата
      a.btn(href="authorization.html") Авторизация
      a.btn(href="lk.html") Личный кабинет
      a.btn(href="lk-personal.html") Личный кабинет - Персональные данные
      a.btn(href="lk-order.html") Личный кабинет - Заказы
      a.btn(href="lk-sale.html") Личный кабинет - Скидки








