extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  section.lk-menu
    .lk-menu-main
      a.btn
        svg.icon <use xlink:href="#icon-user"></use>
        span Персональные данные

      a.btn.btn-active
        svg.icon <use xlink:href="#icon-truck"></use>
        span Заказы

      a.btn
        svg.icon <use xlink:href="#icon-percent"></use>
        span Ваша скидка 20%

      a.btn
        svg.icon <use xlink:href="#icon-basket"></use>
        span Корзина

    .lk-menu-sub
      a.lk-menu-sub-link.active(href="#") В пути - 1
      a.lk-menu-sub-link(href="#") Доставлены - 0
      a.lk-menu-sub-link(href="#") В обработке - 0


  section.container.page-title-section
    h1.page-title.mtb-05
      a.btn.btn-back(href="#")
        svg.icon <use xlink:href="#icon-arrow-back"></use>
      span Заказы


  main
    .lk-content.container
      .lk-orders
        //.lk-order-nav
        //  a.lk-order-nav-link.active(href="#") В пути - 1
        //  a.lk-order-nav-link(href="#") Доставлены - 0
        //  a.lk-order-nav-link(href="#") В обработке - 0
        .lk-order-tabs
          .lk-order-tab.active
            .lk-order-item
              .lk-order-item-title(data-lk-order-toggle) Заказ № 12 от 10.04.2020, 3 товара на сумму 9640 руб.
              .lk-order-item-content
                .lk-order-item-info
                  p Оплата: #[span.danger не оплачено]
                  p Счет №11/1 от 10.04.2020, Наложенный платеж<br>Сумма к оплате по счету: 2 028 руб.
                  a(href="#") Сменить способ оплаты
                  p Доставка: #[span.warning ожидает обработки]
                  p Отгрузка №11/2, стоимость доставки 500 руб. <br>Статус отгрузки: не отгружено
                  p Служба доставки: доставка курьером
                a.btn.btn-shadow(href="#") Оплатить

            .lk-order-item
              .lk-order-item-title(data-lk-order-toggle) Заказ № 9 от 10.04.2019, 3 товара на сумму 1640 руб.
              .lk-order-item-content
                .lk-order-item-info
                  p Оплата: #[span.danger не оплачено]
                  p Счет №11/1 от 10.04.2019, Наложенный платеж<br>Сумма к оплате по счету: 2 028 руб.
                  a(href="#") Сменить способ оплаты
                  p Доставка: #[span.warning ожидает обработки]
                  p Отгрузка №11/2, стоимость доставки 500 руб. <br>Статус отгрузки: не отгружено
                  p Служба доставки: доставка курьером
                a.btn.btn-shadow(href="#") Оплатить

          .lk-order-tab
          .lk-order-tab












