extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = 'lk-subpage';

block content
  section.lk-menu
    .lk-menu-main
      a.btn.btn-active
        svg.icon <use xlink:href="#icon-user"></use>
        span Персональные данные

      a.btn
        svg.icon <use xlink:href="#icon-truck"></use>
        span Заказы

      a.btn
        svg.icon <use xlink:href="#icon-percent"></use>
        span Ваша скидка 20%

      a.btn
        svg.icon <use xlink:href="#icon-basket"></use>
        span Корзина


  section.container.page-title-section
    a(href="#") Мой кабинет
    h1.page-title
      a.btn.btn-back(href="#")
        svg.icon <use xlink:href="#icon-arrow-back"></use>
      span Персональные данные

  main
    .lk-content.container
      .lk-personal-form
        .lk-personal-form-line
          .form-label Имя
          .form-item
            input(type="text")
        .lk-personal-form-line
          .form-label Фамилия
          .form-item
            input(type="text")
        .lk-personal-form-line
          .form-label Отчество
          .form-item
            input(type="text")
        .lk-personal-form-line
          .form-label E-mail
          .form-item
            input(type="email")
        .lk-personal-form-line
          .form-label Телефон
          .form-item
            input(type="tel")
        .lk-personal-form-line
          .form-label Адрес доставки
          .form-item
            textarea(name="addrr")

        a.btn(href="#") Сохранить













