extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  section.container.page-title-section
    h1.page-title.mtb-05
      span Личный кабинет


  main
    .lk.container
      .lk-sections
        a.lk-section-link
          svg.icon <use xlink:href="#icon-user"></use>
          span Персональные данные
          svg.icon.icon-arrow-back <use xlink:href="#icon-arrow-back"></use>

        a.lk-section-link
          svg.icon <use xlink:href="#icon-truck"></use>
          span Заказы
          svg.icon.icon-arrow-back <use xlink:href="#icon-arrow-back"></use>

        a.lk-section-link
          svg.icon <use xlink:href="#icon-percent"></use>
          span Накопительные скидки
          svg.icon.icon-arrow-back <use xlink:href="#icon-arrow-back"></use>

        a.lk-section-link
          svg.icon <use xlink:href="#icon-basket"></use>
          span Корзина
          svg.icon.icon-arrow-back <use xlink:href="#icon-arrow-back"></use>












