extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  section.container.page-title-section
    h1.page-title.mtb-05
      span Спасибо за заказ


  main
    .order-success-block.container
      .order-success-img
        img(src="assets/img/order-ok.png" alt="")
      .order-success-text
        .order-success-title Номер вашего заказа #[span 3221337]
        .order-success-title Сумма заказа #[span 3 559 ₽]
        p В ближайшее время с вами свяжется менеджер для подтверждения заказа
        .order-success-btns
          a.btn.btn-secondary В КАТАЛОГ
          a.btn В ЛИЧНЫЙ КАБИНЕТ









