extends ../layout/main-layout

block variables
  - var title = 'НосМаг.ру';
  - var description = 'НосМаг.ру';
  - var pageClass = '';

block content
  section.container.page-title-section
    h1.page-title.mtb-05
      span Доставка и оплата

  section.sp-baner
    img(src="assets/img/delivery-full.jpg" alt="")

  main.sp
    .container
      .sp-content
        .sp-title Условия доставки заказов
        p Как уже неоднократно упомянуто, непосредственные участники технического прогресса, инициированные исключительно синтетически, указаны как претенденты на роль ключевых факторов. Как принято считать, действия представителей оппозиции объективно рассмотрены соответствующими инстанциями.
        .sp-table-block
          .sp-table
            table
              tr
                th Место доставки
                th Сумма заказа
                th Стоимость
                th Срок
              tr
                td Курск
                td Любая
                td Бесплатно
                td от 1 до 45 дней
              tr
                td Железногорск
                td Любая
                td 790 +25 &#8381;/км*
                td от 1 до 45 дней
              tr
                td Курчатов
                td Любая
                td 990 +25 &#8381;/км*
                td от 1 до 45 дней
              tr
                td Другое
                td Любая
                td 990 +25 &#8381;/км*
                td от 1 до 45 дней


            .sp-table-note * точную стоимость уточняйте у оператора по телефону 8 (800) 555-35-35
        .sp-title Условия оплаты
        .sp-subtitle По банковской карте
        p Лишь некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть своевременно верифицированы.
        .sp-subtitle Наложенным платежом
        p В своём стремлении улучшить пользовательский опыт мы упускаем, что независимые государства своевременно верифицированы.

        .sp-title Правила приёма заказов
        .sp-warning
          svg.icon <use xlink:href="#icon-warning"></use>
          .sp-warning-text Базовый вектор развития стал нашим флагом в борьбе с ложью
        p Безусловно, начало повседневной работы по формированию позиции прекрасно подходит для реализации позиций, занимаемых участниками в отношении поставленных задач:

        ul.sp-list
          li.sp-list-item Реализация намеченных плановых заданий продолжает удивлять;
          li.sp-list-item Окрестности Тулы оросил гитарный перебор;
          li.sp-list-item Внезапно, объемы выросли.

        .sp-title Ссылки
        .sp-info
          svg.icon <use xlink:href="#icon-info"></use>
          .sp-info-text Неподкупность государственных СМИ бодрит

        ol.sp-links-list
          li.sp-links-item
            a(href="#") Публичная оферта.pdf (2 Mb);
          li.sp-links-item
            a(href="#") Карта доставки по регионам.jpg (1 Mb);

      .sp-content-extra
        .sp-title Дополнительно
        img(src="assets/img/delivery-extra.png" alt="")
        p Значимость этих проблем настолько очевидна, что понимание сути ресурсосберегающих технологий создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса вывода текущих активов. Противоположная точка зрения подразумевает, что некоторые особенности внутренней политики заблокированы в рамках своих собственных рациональных ограничений.
  section.sp-map-block
    .sp-title Наши магазины
    #sp-map.sp-map
      img(src="assets/img/map.png" alt="")













