.product {
  &-list {
    // --m: 8px;
    --m: 15px;
    --col: 4;
    margin: 0 calc(-1*var(--m));
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
      // @include media-max-width2(1200) {--col: 5;}
      // @include media-max-width2(992) {--col: 4;}
      @include media-max-width2(768) {--col: 3;}
      @include media-max-width2(576) {--col: 2;}
      @include media-max-width2(400) {--col: 1;}
  }
}

