.radioset {
  height: 100%;
    &.set-max-height {
        height: 18em;
    }
    &_item{
      display: flex;
      align-items: center;
      padding: 0.5em 0;
    }
    &_scroll {
      height: 100%;
      padding-right: 1.1em;
    }
    &_body {
      display: flex;
      align-items: center;
    }
    &_icon {
      display: inline-block;
      //background: #fff;
      color: inherit;
      border: 1px solid currentColor;
      border-radius: 5px;
      font-size: 1.3333em;

      width: 1em;
      height: 1em;
      flex-shrink: 0;
      margin-right: .5em;
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        //height: 0.0625em;
        height: 0.125em;
        background-color: var(--base-color2);
        opacity: 0;
        transition: .1s;
      }
      &:before {
        top: 50%;
        width: .54em;
        transform: rotate(45deg);
      }
      &:after {
        top: 33%;
        //left: 40%;
        left: 34%;
        width: .9em;
        transform: rotate(-45deg);

      }


    }
    input[type="radio"]:checked {
      & + .radioset_body {
        .radioset_icon {
          &:before, &:after {opacity: 1}
        }
      }
    }

}
